<link rel="import" href="post-element.html">
<link rel="import" href="polymer-jsonp/polymer-jsonp.html">
<link rel="import" href="../post-service/post-service.html">

<link rel="import" href="flatiron-director/flatiron-director.html">

<polymer-element name="blog-element"  attributes="">
<template>
  <style>
  @host { :scope {display: block;} }
  </style>

  <post-service id="service" posts="{{posts}}"></post-service>


  <div class="row">
    <flatiron-director route="{{route}}" autoHash></flatiron-director>

    <div style="width:30%;float: left;">
      <h1><a href="/#">Articles</a></h1>
      <!-- Table of contents -->
      <ul>
<!--       <template repeat="{{post in posts.feed.entry}}">
        <li><a href="#{{post.gsx$slug.$t}}">{{post.gsx$title.$t}}</a></li>
      </template> -->      

      <template repeat="{{post in posts}}">
        <li><a href="#{{post.title}}">{{post.title}}</a></li>
      </template>

    </ul>
  </div>
  <div style="width:70%;float: right;">
    <!-- Post content -->
    <!-- <template repeat="{{post in posts.feed.entry}}">
      <post-element post="{{post}}" selected="{{route}}"></post-element>
    </template> -->

    <template repeat="{{post in posts}}">
      <post-element post="{{post}}" selected="{{route}}"></post-element>
  </template>
</div>
</div>
    <!--
    Notes: you *must* publish your spreadsheet to the web in order for this
    to work and that spreadsheet must be also public in your share settings. A backup is provided in posts.json just in case you wish to use that instead.

    One of the nice things about this is you can easily update your spreadsheet and this app should always pull in the latest version of your posts.
  -->
  <!-- <polymer-jsonp auto url="https://spreadsheets.google.com/feeds/list/0AhcraNy3sgspdHVQUGd2M2Q0MEZnRms3c3dDQWQ3V1E/od6/public/values?alt=json-in-script&callback=" response="{{posts}}"></polymer-jsonp> -->
</template>

<script>
Polymer('blog-element', {
  created: function() {},
  enteredView: function() { },
  leftView: function() { },
  attributeChanged: function(attrName, oldVal, newVal) { }
});
</script>
</polymer-element>
