
<link href="../components/core-animated-pages/core-animated-pages.html" rel="import">


<style>
img{
  max-width: 2000px;
}
body {
  font-family: 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  background: #f1f1f1;
}

.green {
  /*position: absolute;*/

  height: 350px;
  background: #70c26f;
}
</style>


<polymer-element name="music-demo">
<template>

  <style>
  .chip-container {
    /*position: absolute;*/
    top: 275px;
    right: 0;
    left: 0;
    text-align: center;
  }

  .chip {
    max-width: 48%;
    width:100%;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    margin: 4px;
    margin-bottom: 7px;
    overflow: hidden;
    text-align: start;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }

  .chip-top {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;

  }

  .chip-bottom {
    padding: 8px;
    line-height: 1.5;
  }

  .chip-album-title {
    font-weight: bold;
  }

  #details {
    position: fixed;
    padding: 150px 10% 0;
    margin: auto;
    z-index: 9999;
    overflow-y:scroll;
    background-color: rgba(0,0,0,0.3)
  }

  .card-desk-viewer{
    display: block;
  }
  .card-mobile-viewer{
    display: none;
  }

  .card {
    height: 400px;
    border-radius: 3px;
    text-align: start;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9999;

  }

  .card-left {
    width: 400px;
    background-size: cover;
    background-position: center center;
  }

  .card-right {
    padding: 24px;
    background-size: cover;
  }

  .card-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }

  .card-album-title {
    font-size: 2em;
  }

  #core_scroll_header_panel {
    width: 100%;
    height: 200px;
    top: 0px;
    position: relative;
  }
  #core_toolbar1 {
    color: rgb(241, 241, 241);
    fill: rgb(241, 241, 241);
    background-color: rgb(246, 49, 170);
    /*background-image: url('http://www.windsorchamber.net/sites/default/files/styles/1450x580_scale_crop/public/uploads/example_header_news.jpg');*/
    background-size: cover;

    position: initial;
  }
  #section {
    /*height: 5000px;
    background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));*/
  }
  #mainContainer{
    position: relative!important;
  }


  .card-content{
    background-color:white; padding: 20px;margin:-5px 0 0 -150px;margin-bottom:30px;z-index:30;
  }

  @media(min-width: 1300px){
    .card-left {
      width: 700px;
    }
    .card-content{
      margin:-5px 0 0 -430px;
      width: 600px;
    }
  }



  @media(max-width: 850px){
    .chip {
      max-width: 100%;
      display: block;
      position: relative;
      border-radius: 0px;
      margin: 4px;
      margin-bottom: 15px;
      overflow: none;
      text-align: start;
      background-color: #fff;
      box-shadow: none;
    }
    .chip-top{
      width: 100%;
    }
  }

  @media(max-width: 500px){
   #details {
    position: fixed;
    padding: 0px ;
    margin: auto;
    z-index: 9999;
    height: 100%;


  }
  p{
    padding:0px 20px;
  }
  #details .card-left{
    width: 100%;
    height: 250px;
    clear: both;
    /*display: block;*/
  }
  #details .card{
    height: 100%;
    flex-direction:column;
    overflow: auto;

  }
  .chip {
    max-width: 100%;
    display: block;
    position: relative;
    border-radius: 0px;
    margin: 4px;
    margin-bottom: 15px;
    overflow: none;
    text-align: start;
    background-color: #fff;
    box-shadow: none;
  }
  .chip-top{
    width: 100%;
  }

  .card-mobile-viewer{
    display: block;
  }
  .card-desk-viewer{
    display: none;
  }
  .card{
    overflow: scroll!important;
  }

  

}



.paper-button {
  margin: 1em;
  width: 14em;
  color: #4285f4;
  fill: #4285f4;
  background: #4285f4;
  color: #fff;
  margin: 1em;
  display: block;
  padding:5px 7px;
  margin: auto;
  text-align: center;
}

.paper-button.colored {

}


google-map{
  height: 250px;
  width: 100%;
  display: block;
}
</style>




<style>    



</style>




<article-service id="serviceArticle" article="{{article}}"></article-service>

<post-service id="service" posts="{{posts}}"></post-service>

<a on-tap="{{readHeadLines}}"  style="cursor:pointer;background-color:rgba(0,0,0,0.6);padding:10px 20px;display:block;color:white;">
  <span style="background-color:white;color:black;border-radius:150px;padding:2px 10px;font-weight:300;">Speak</span>
</a>

<core-animated-pages selected="{{page}}" transitions="hero-transition" on-core-animated-pages-transition-end="{{complete}}">

<section style="position:relative;min-height: 800px;display:block!important;">
  <div style="position:relative;min-height: 800px;">

    <div class="chip-container" hero-p on-tap="{{transition}}">





      <template repeat="{{posts as item}}">

        <div class="chip" hero-id="{{item._id}}-ID" hero="{{selectedAlbum === item }}">
          <div class="chip-top" style="background-image:url('{{item.image}}');" hero-id="{{item._id}}-ID" hero?="{{selectedAlbum === item}}"></div>
          <div class="chip-bottom">
            <div  class="chip-album-title" style="font-size:20px;line-height: 1em;font-weight: 300;">{{item.title}}</div>
            <!-- <div class="chip-artist">{{item.description}}</div> -->
          </div>
        </div>

      </template>

    </div>
  </div>
</section>

<section id="details">

  <div class="card" layout horizontal hero-id="{{seletedArticle._id}}-ID" hero on-tap="{{transition}}" style="overflow: visible;">
    <div class="card-left card-desk-viewer"  hero-id="{{item._id}}-ID" >


      <div class="card-desk-viewer" hero style="height:400px;width:100%;background-image:url('{{seletedArticle.image}}');background-size:cover;background-position: center center;">

      </div>
      <div >
        <ul style="padding:0;margin:0;font-weight:100;">
          <li   style="background-color:rgba(0,0,0,0.6);padding:10px 20px;display:block;color:white;">
          </li>
          <li   style="background-color:rgba(0,0,0,0.6);padding:10px 20px;display:block;color:white;font-size:23px;">
            {{seletedArticle.published_date}}
          </li>
          <li style="background-color:rgba(0,0,0,0.6);padding:10px 20px;display:block;color:white;">
            Source: <b>{{seletedArticle.source}}</b>
          </li>
          <li style="background-color:rgba(0,0,0,0.6);padding:10px 20px;display:block;color:white;">
            Share: <b>{{seletedArticle.nb_shared}}</b>
          </li>
          <li on-tap="{{speakTheText}}"  style="cursor:pointer;background-color:rgba(0,0,0,0.6);padding:10px 20px;display:block;color:white;">
            <span style="background-color:white;color:black;border-radius:150px;padding:2px 10px;font-weight:300;">Speak</span>
          </li>

        </ul>

      </div>
    </div>



    <div class="card-right card-desk-viewer"  flex style="padding:0;">

      <!-- <google-map latitude="10.0" longitude="10.0" zoom="1">

      <template repeat="{{map as marker}}">
        <google-map-marker latitude="{{marker.lat}}" longitude="{{marker.lon}}"
        draggable="false" title="{{seletedArticle.title}}"></google-map-marker>
      </template>

    </google-map> -->

    <div class="box ratio16_9" style="background-position:center center;height:100%;max-height:80%;width:100%;display:block;background-size:cover;background-image:url('http://maps.googleapis.com/maps/api/staticmap?center=Alger&zoom=1&size=1200x1200&maptype=hybrid{{mapURL}}');">
      <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=Paris&zoom=1&size=600x320&maptype=roadmap{{mapURL}}" width="100%" height="100%"> -->
      <img src="../images/16-9.png" width="100%" style="max-height:80%;">

    </div>
    <div style="padding:5px">
      <template repeat="{{seletedArticle.siblings as sibling}}">
        {{sibling.title}} <span style="background-color:gray;color:white;border-radius:150px;padding:2px 10px;font-weight:300;font-size:14px">{{sibling.source}}</span>
      </template>
      <br>
      <template repeat="{{seletedArticle.company as company}}" >
       <span style="background-color:gray;color:white;border-radius:150px;padding:2px 10px;font-weight:300;font-size:14px">{{company}}</span>   <!-- {{company.title}} {{company.source}} -->
     </template><br>
     <template repeat="{{seletedArticle.categories as category}}" >
       <span style="background-color:gray;color:white;border-radius:150px;padding:2px 10px;font-weight:300;font-size:14px">{{category}}</span>   <!-- {{company.title}} {{company.source}} -->
     </template><br><br>
   </div>
   <div layout horizontal center >

    <div class="card-content " flex style="">

      <div class="card-album-title" style="font-weight:100;">{{seletedArticle.title}}</div>
      <p class="card-album-artist">{{seletedArticle.description}}</p>
      <p class="card-album-artist">{{selectedAlbum.content}}</p>

      <div class="card-album-artist">Shares: {{seletedArticle.nb_shared}}</div>
      <div class="card-album-artist">Source: {{seletedArticle.source}}</div>
      <div class="card-album-artist">Info: , {{seletedArticle.categories}}, {{seletedArticle.city}}, {{seletedArticle.region}}, {{seletedArticle.country}}, </div>
      <div class="card-album-artist">Source Language: {{seletedArticle.country_code}}</div>
      <a href="{{selectedAlbum.permalink}}" class="btn">visite source: {{selectedAlbum.source}}</a>
      <br>
      <hr>


    </div>
  </div>
</div>



<core-scroll-header-panel class="card-mobile-viewer" condenses headerheight="0" condensedheaderheight="64" id="core_scroll_header_panel" style="height:375px; ">
<!--   <core-toolbar id="core_toolbar1" class="tall" style="background-image:url('{{selectedAlbum.image}}');background-position: center center;box-shadow: inset 0 -60px 40px rgba(0,0,0,.5);">
-->  
<core-toolbar id="core_toolbar1" class="tall" style="background-image:url('{{seletedArticle.image}}');background-position: center center;box-shadow: inset 0 -60px 40px rgba(0,0,0,.5);">

<core-icon-button icon="arrow-back" id="core_icon_button"></core-icon-button>
<div id="div1" flex></div>
<core-icon-button icon="more-vert" id="core_icon_button2"></core-icon-button>
<div id="div2" class="bottom indent">{{seletedArticle.title}}</div>
</core-toolbar>
</core-scroll-header-panel>






<section id="section" class="card-mobile-viewer" content>

  <div style="padding:0px;">

   <!--  <google-map latitude="10.0" longitude="10.0" zoom="1">

    <template repeat="{{map as marker}}">
      <google-map-marker latitude="{{marker.lat}}" longitude="{{marker.lon}}"
      draggable="false" title="{{selectedAlbum.title}}"></google-map-marker>
    </template>

  </google-map> -->
  <img src="http://maps.googleapis.com/maps/api/staticmap?center=Alger&zoom=1&size=600x300&maptype=roadmap{{mapURL}}" width="100%">

  <div class="card-album-title">{{seletedArticle.title}}</div><br>
  <img src="https://www.google.com/finance/getchart?q=PX1&p=15d&i=240" width="100%">
  <p class="card-album-artist">{{seletedArticle.description}}</p>
  <p class="card-album-artist">{{selectedAlbum.content}}</p>
  <p class="card-album-artist">Info: , {{selectedAlbum.categories}}, {{selectedAlbum.city}}, {{selectedAlbum.region}}, {{selectedAlbum.country}}, </p>
  <p class="card-album-artist">Source: {{selectedAlbum.source}}</p>
  <p class="card-album-artist">Date: {{selectedAlbum.published_date}}</p>
  <p class="card-album-artist">Shared: {{selectedAlbum.nb_shared}}</p>
  <a on-tap="{{speakTheText}}"  style="cursor:pointer;background-color:rgba(0,0,0,0.6);padding:10px 20px;display:block;color:white;">
    <span style="background-color:white;color:black;border-radius:150px;padding:2px 10px;font-weight:300;">Speak</span>
  </a>
  <br>
  <a href="{{selectedAlbum.permalink}}" target="_blank" class="paper-button colored" label="Visit Article">Visit Article: {{selectedAlbum.source}}</a>

  <!-- <div class="card-album-artist">Source Language: {{selectedAlbum.country_code}}</div> -->
  <br>
  <hr>
  <template repeat="{{selectedAlbum.siblings as sibling}}">
    {{sibling.title}} {{sibling.source}}<br>
  </template>



</div>

</section>








</div>

</section>

</core-animated-pages>

</template>



<script>

Polymer('music-demo', {

  page: 0,

  items: [
  { artist: 'Tycho', album: 'Fragments', color: '#f4db33' },
  { artist: 'Tycho', album: 'Past Prologue', color: '#972ff8' },
  { artist: 'Tycho', album: 'Spectre', color: '#7dd6fe' },
  { artist: 'Tycho', album: 'Awake', color: '#dc3c84' }
  ],

  selectedAlbum: null,

  speakTheText: function(e){
    //console.log(e.target.templateInstance.model.post);
    var txt = e.target.templateInstance.model.selectedAlbum.content;
    var msg = new SpeechSynthesisUtterance(e.target.templateInstance.model.seletedArticle.title);
    msg.lang = e.target.templateInstance.model.seletedArticle.lang;
    window.speechSynthesis.speak(msg);
  },
  readHeadLines: function(e){
    //console.log(e.target.templateInstance.model.post);
    var txt = "";
    var i = 0;
    var speakerText = [];
    e.target.templateInstance.model.posts.forEach(function(itemTitle){
      i++;
      if(false && itemTitle.lang == 'fr' && itemTitle.title !== undefined && i <  e.target.templateInstance.model.posts.length){
        //txt = txt + itemTitle.title + ". \n ";  
        var myTitle = "Nouvel Article: "+itemTitle.title;
        var theDescription = itemTitle.description + "; Voulez vous en savoir plus? "; 
        var msg = new SpeechSynthesisUtterance(myTitle);
        msg.lang = itemTitle.lang;
        window.speechSynthesis.speak(msg);
        var msg = new SpeechSynthesisUtterance(theDescription);
        msg.lang = itemTitle.lang;
        window.speechSynthesis.speak(msg);
      }else if(true){

       var myTitle = "Nouvel Article: "+itemTitle.title+":. ";
       var myDesc = itemTitle.source+":. "+itemTitle.description + "; Voulez-vous en savoir plus ? ";
      // console.log(itemTitle.source);
      speakerText.push(myTitle);
      speakerText.push(myDesc);

       // console.log(myTitle);
       // var msg = new SpeechSynthesisUtterance(theDescription);
       // msg.lang = itemTitle.lang;
       // window.speechSynthesis.speak(msg);
     }
     if(i == 9){
      console.log(speakerText);
      var msg = new SpeechSynthesisUtterance(speakerText);
      msg.lang = itemTitle.lang;
      window.speechSynthesis.speak(msg);
    }


  });



},
transition: function(e) {
  if (this.page === 0) {
   this.selectedAlbum = e.target.templateInstance.model.article;
   this.page = 1;
   this.seletedArticle = e.target.templateInstance.model.item;
   

   var tempURL = "++";
   this.map = e.target.templateInstance.model.item.positions;
   this.map.forEach(function(location){
    tempURL += "&markers=color:blue%7Clabel:A%7C"+location.lat+","+location.lon;
  });
   this.mapURL = tempURL;



 } else {
   this.page = 0;
 }
}
});

</script>
</polymer-element>

<div class="green"></div>

<music-demo></music-demo>

