
<link rel="import" href="../components/polymer/polymer.html">

<link rel="import" href="../components/google-map/google-map.html">
<link rel="import" href="../components/google-map/google-map-search.html">

<link rel="import" href="../components/core-item/core-item.html">
  <link rel="import" href="../components/core-toolbar/core-toolbar.html">




<polymer-element name="my-map">

<template>
  <style>    
  :host {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  #core_scaffold {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  #core_header_panel {
    background-color: rgb(255, 255, 255);
  }
  #core_toolbar {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 125, 201);
  }
  #core_menu {
    font-size: 16px;
  }
  #google_map {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
   
  }
  #google_map_directions {
    left: 690px;
    top: 600px;
  }
  #core_field {
    background-color: rgb(255, 255, 255);
  }
  #core_icon {
    height: 24px;
    width: 24px;
  }
  </style>
 


  <div style="position:relative;height:100%;z-index: 10;">
 <!-- <div label="RoadMap" icon="settings" id="core_item" on-tap="{{ showSat }}" horizontal center layout>Sat</div><br><br> -->
  <google-map latitude="{{ $.google_map_search.result.latitude }}" longitude="{{ $.google_map_search.result.longitude }}" zoom="18" id="google_map"></google-map>
  <google-map-search map="{{ $.google_map.map }}" query="paris" id="google_map_search"></google-map-search>

</div>



</template>




<script>
Polymer('my-map', {
  showRoad: function (){
    this.$.google_map.mapType = 'roadmap';
  },
  showSat: function (){
    this.$.google_map.mapType = 'satellite';
  }
});

</script>

</polymer-element>