﻿ <link rel="import" href="../components/polymer/polymer.html">
 <link rel="import" href="music.html">

 <polymer-element name="my-main">

 <template>
  <style>  
  .container {
    width: 80%;
    margin: 50px auto;
  }
  @media (min-width: 481px) {
    paper-tabs {
      width: 200px;
    }
    .container {
      width: 400px;
    }
  }


  :host {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  #core_scaffold {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  #core_header_panel {
    background-color: rgb(255, 255, 255);
  }
  #core_toolbar {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 125, 201);
  }
  #core_menu {
    font-size: 16px;
  }
  #google_map {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #google_map_directions {
    left: 690px;
    top: 600px;
  }
  #core_field {
    background-color: rgb(255, 255, 255);
  }
  #core_icon {
    height: 24px;
    width: 24px;
  }
  </style>

  <style> 
  img{
    max-width: 1000%;
    max-height: 1000%;
  }   
  :host {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  #core_scaffold {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  #core_header_panel {
    background-color: rgb(255, 255, 255);
  }
  #core_toolbar {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 125, 201);
  }
  #core_menu {
    font-size: 16px;
  }
  </style>

  <style>    
  :host {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  #core_scaffold {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  #core_header_panel {
    background-color: rgb(255, 255, 255);
  }
  #core_toolbar {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 125, 201);
  }
  #core_menu {
    font-size: 16px;
  }
  #google_map {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #google_map_directions {
    left: 690px;
    top: 600px;
  }
  #core_field {
    background-color: rgb(255, 255, 255);
  }
  #core_icon {
    height: 24px;
    width: 24px;
  }
  </style>


  <style>    

  #core_scroll_header_panel {
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
  }
  #core_toolbar1 {
    color: rgb(241, 241, 241);
    fill: rgb(241, 241, 241);
    background-color: rgb(246, 49, 170);
    background-image: url('http://www.windsorchamber.net/sites/default/files/styles/1450x580_scale_crop/public/uploads/example_header_news.jpg');
    background-size: cover;
  }
  #section {
    /*height: 5000px;
    background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));*/
  }

  </style>





  <core-scaffold id="core_scaffold">
  <core-header-panel mode="seamed" id="core_header_panel" navigation flex>
  <core-toolbar id="core_toolbar">
  <core-field id="core_field" icon="search" theme="core-light-theme" center horizontal layout>
  <core-icon icon="search" id="core_icon"></core-icon>
  <core-input placeholder="text input" value="{{ $.speech_mic.transcript }}" id="core_input" flex></core-input>
  <speech-mic id="speech_mic"></speech-mic>
</core-field>
</core-toolbar>
<core-menu selected="RoadMap" valueattr="label" selectedindex="1" id="core_menu" theme="core-light-theme">
<core-item label="RoadMap" icon="settings" id="core_item" on-tap="{{ showRoad }}" horizontal center layout></core-item>
<core-item label="Satallite" icon="settings" id="core_item1" on-tap="{{ showSat }}" horizontal center layout active></core-item>
</core-menu>
</core-header-panel>


<!-- <div id="div" tool>Watchman</div>
-->


<core-scroll-header-panel condenses headerheight="192" condensedheaderheight="64" id="core_scroll_header_panel">
  <core-toolbar id="core_toolbar1" class="tall">
    <core-icon-button icon="arrow-back" id="core_icon_button"></core-icon-button>
    <div id="div1" flex></div>
    <core-icon-button icon="search" id="core_icon_button1"></core-icon-button>
    <core-icon-button icon="more-vert" id="core_icon_button2"></core-icon-button>
    <div id="div2" class="bottom indent">Watchman | News</div>
  </core-toolbar>


  <section id="section" content>
    
<div style="max-width:400px;margin:auto;padding:20px;">
<core-field id="core_field" icon="search" theme="core-light-theme" center horizontal layout>
  <core-icon icon="search" id="core_icon"></core-icon>
  <core-input placeholder="text input" value="{{ $.speech_mic.transcript }}" id="core_input" flex></core-input>
  <speech-mic id="speech_mic"></speech-mic>
</core-field>
</div>

<music-demo></music-demo>


<div style="clear:both;"></div>
<hr>



   <!--  <blog-element></blog-element> -->
    
    <!-- <paralax-element></paralax-element> -->
    
   <!--  <div style="position:relative;height:300px;">
      <my-map></my-map>
      <google-map latitude="{{ $.google_map_search.result.latitude }}" longitude="{{ $.google_map_search.result.longitude }}" zoom="18" id="google_map"></google-map>
      <google-map-search map="{{ $.google_map.map }}" query="{{ $.core_input.value }}" id="google_map_search"></google-map-search>
    </div> -->

    
<!-- <div style="clear:both;"></div>
<hr>

    <div class="container" layout vertical center>

      <post-list show="all"></post-list>

    </div> -->

  </section>


</core-scroll-header-panel>


</core-scaffold>

</template>

<script>

Polymer('my-main', {
  showRoad: function (){
    this.$.google_map.mapType = 'roadmap';
  },
  showSat: function (){
    this.$.google_map.mapType = 'satellite';
  }
});

</script>

</polymer-element>
