﻿<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../components/core-scroll-header-panel/core-scroll-header-panel.html">

<polymer-element name="paralax-element">


<template>
My Paralax element

	<core-scroll-header-panel condenses>

    <core-toolbar class="tall">
    
      <core-icon-button icon="arrow-back"></core-icon-button>
      <div flex></div>
      <core-icon-button icon="search"></core-icon-button>
      <core-icon-button icon="more-vert"></core-icon-button>
      <div class="bottom indent title">Title</div>
      
    </core-toolbar>
    
    <div class="content">
      
      <lorem-ipsum paragraphs="100"></lorem-ipsum>
      
    </div>
    
  </core-scroll-header-panel>

</template>
<script>
Polymer({});
</script>

</polymer-element>
