﻿<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../components/core-icon-button/core-icon-button.html">

<polymer-element name="post-card">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .card-header {
      margin-bottom: 10px;
    }
    polyfill-next-selector { content: '.card-header h2'; }
    .card-header ::content h2 {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 300;
    }
    
    </style>
    <!-- <div class="card-header" layout horizontal center>
      <content select="img"></content>
      <content select="h2"></content>
    </div> -->
    <content></content>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
