<link rel="import" href="gravatar-element/src/gravatar.html">


<polymer-element name="post-element" attributes="post selected">
<template>
  <style>
  @host { :scope {display: block;} }
  #google_map {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

  }
  </style>
  <div class="">
          <!-- <template if="{{ post.gsx$slug.$t === selected }}">
            <h2><a href="#{{post.gsx$slug.$t}}">{{post.gsx$title.$t}}</a></h2>
            <p>By {{post.gsx$author.$t}} {{post.gsx$publishedDate.$t}}</p>
            <gravatar-element username="{{post.gsx$email.$t}}" size="100"></gravatar-element>
            <p>{{post.gsx$content.$t}}</p>
            <p>{{post.gsx$date.$t}}</p>
            <small>Keywords: {{post.gsx$keywords.$t}}</small>
          </template> -->

          <template if="{{ post.title === selected }}">
            <post-card style="padding:20px;box-sizing: border-box;">

            <h2><a href="#{{post.title}}">{{post.title}}</a></h2>
            <p><span class="label">{{post.lang}}</span> - {{post.categories}}: {{post.country}}, {{post.city}}</p>
            <p>{{post.person}}</p>
            <p>By {{post.authors}}, {{post.published_date}}</p>
            <img src="{{post.image}}" width="100%"></img>
            <p>{{post.description}}</p>
            <p>{{post.published_date}}</p>
            <small>Keywords: {{post.company}}</small>
            <div style="position:relative;height:250px;">
             <!-- <div label="RoadMap" icon="settings" id="core_item" on-tap="{{ showSat }}" horizontal center layout>Sat</div><br><br> -->
             <google-map latitude="{{ $.google_map_search.result.latitude }}" longitude="{{ $.google_map_search.result.longitude }}" zoom="5" id="google_map"></google-map>
             <google-map-search map="{{ $.google_map.map }}" query="{{post.city[0]}} {{post.country[0]}} " id="google_map_search"></google-map-search>

           </div>
         </post-card>
       </template>
     </div>
   </template>
   <script>

   Polymer('post-element', {
    created: function() { },
    enteredView: function() { },
    leftView: function() { },
    attributeChanged: function(attrName, oldVal, newVal) { }
  });
   </script>
 </polymer-element>