﻿<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../post-service/post-service.html">
<link rel="import" href="../post-service/article-service.html">

<link rel="import" href="../elements/post-card.html">
<link rel="import" href="../elements/my-map.html">


<link rel="import" href="../components/core-menu-button/core-menu-button.html">
<link rel="import" href="../components/core-tooltip/core-tooltip.html">

<polymer-element name="post-list" attributes="show">
<template>
  <style>
  :host {
    display: block;
    width: 100%;
  }
  post-card {
    margin-bottom: 30px;
  }
  .image-card{

    height:100px;
    width:100px;
    background-size:cover;
    border-radius: 150px;
    display: inline-block;
  }
  h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 300;
  }
  post-card a{
    text-decoration: none;
  }
  post-card  .inner{
    padding:20px;
  }
  #google_map {
    width: 100%;
    height: 300px;
    display: block;
    position: relative;
    
  }
  #google_map_directions {
    left: 690px;
    top: 600px;
  }
  </style>

  <post-service id="service" posts="{{posts}}"></post-service>

  <div layout vertical center>
    <template repeat="{{post in posts}}">
      <post-card >
      <img src="{{post.image}}" width='100%'>
      <div class="inner">
        <a href="{{post.permalink}}"><h2>{{post.title}}</h2></a>
        <p on-tap="{{ showRoad }}">{{post.description}}</p>
        <span>shared: {{post.nb_shared}}</span><br>
        <a href="{{post.permalink}}" target="_blank">{{post.source}}</a>
        <div label="RoadMap" icon="settings" id="core_item" on-tap="{{ showRoad }}" horizontal center layout>Roads</div>
        <div class="example">
          <core-tooltip style="cursor: pointer;">
          <div class="rich">Rich tooltip with HTML</div>
          <div tip style="width:200px;height:150px;padding: 7px;cursor: pointer;">
           <!--  <my-map></my-map> -->
         </div>
       </core-tooltip>
     </div>
   </div>
   <div repeat="{{company in post.company}}">
      -- <span>{{post.company}}</span>
   </div>
 </post-card>
</template>
</div>
</template>



<script>


Polymer('post-list', {

});

</script>


</polymer-element>
