﻿
    core-animated-pages {
      height: 100%;
    }

    section {
      overflow: hidden;
    }

    .fab {
      position: absolute;
      fill: #fff;
    }

    .fab-0 {
      bottom: 0px;
      right: 0px;
    }

    .fab-2 {
      bottom: 50px;
      right: 24px;
    }

    .fab-1 {
      /*top: 210px;*/
      right: 24px;
    }

    paper-fab {
      background-color: #ff4081;
    }

    .top {
      background-color: #ffff8d;
    }

    .top-image {
      background: url(quiz1-intro.png);
      height: 287px;
      width: 202px;
    }

    .bottom {
      box-sizing: border-box;
      position: relative;
      height: 80px;
      background-color: #27BAFF;
      padding: 24px;
      color: #fff;
      font-size: 32px;
    }

    .tall-toolbar {
      box-sizing: border-box;
      height: 240px;
      position: relative;
      color: #fff;
      padding: 48px;
      font-size: 48px;
    }

    .tall-toolbar.categories {
      background-color: #00bbd3;
      margin-bottom: 2px;
    }

    .tall-toolbar.questions {
      background-color: #27BAFF;
    }

    .middle {
      background-color: #fafafa;
      color: #3f3f3f;
      padding: 24px 48px;
      font-size: 24px;
      line-height: 1.5;
    }

    .footer {
      height: 80px;
    }

    .avatar {
      height: 80px;
      width: 80px;
      background-color: #ff80ab;
    }

    .footer-right, .score {
      border-top: 1px solid #ccc;
      background-color: #fff;
      padding: 30px;
    }

    .tile {
      box-sizing: border-box;
      float: left;
      height: 200px;
      width: 49%;
      margin: 3px;
    }

    .tile-bottom {
      padding: 8px;
      color: #fff;
    }
    