<head>
	<link rel="stylesheet" href="http://aui-cdn.atlassian.com/aui-adg/5.5.2/css/aui.css" media="all">
	<!--[if lt IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.5.2/css/aui-ie.css" media="all"><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.5.2/css/aui-ie9.css" media="all"><![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://aui-cdn.atlassian.com/aui-adg/5.5.2/js/aui.js"></script>
	<!--[if lt IE 9]><script src="//aui-cdn.atlassian.com/aui-adg/5.5.2/js/aui-ie.js"></script><![endif]-->
	<style type="text/css">

	#main, .aui-navgroup{
		display:block;
		clear:both;
		max-width: 900px;
		margin:auto;
		border: none;
	}


	

	header{
		background-color:#4c9ac9;
	}
	.aui-header{
		float: none;

	}
	.aui-page-panel{
		max-width: 75%;
		border: 1px solid #cccccc;
				overflow: hidden;

	}
	.aui-page-panel, .aui-navgroup-inner{
		margin: auto;
		float: left;
	}
	ac\:layout-section{
		padding: 20px 10px;
		clear: both;
		display: block;
		

	}
	ac\:layout-section[ac\:type="two_equal"] > ac\:layout-cell{
		float: left;
		width: 50%;
		
	}
	#main ac\:image, ac\:image{	
		height: 400px;
		min-width: auto;
		background-color: red;
		display: block;
		background-image: url('http://i283.photobucket.com/albums/kk307/malmal718/backgrounds-3.jpg');
		background-size: cover;
		background-position: center center;
	}
	#sidebar ul, #sidebar ul li{
		list-style: none;
		padding:0;
		margin:0;
		font-size: 12px;
		padding: 3px 0;
	}
	#sidebar{
		float: left;
		max-width: 25%;

	}
	#sidebar img{
		width: 100%;
		max-width: 150px;
		height: auto;
	}
	#sidebar h3{
		padding-top: 15px;
	}
	#sidebar ul{
		padding-bottom: 10px;
	}
	@media(max-width:900px){
		ac\:layout-section[ac\:type="two_equal"] > ac\:layout-cell{
			float: none;
			width: 100%;

		}
	}
	@media(max-width:560px){
		
		.aui-page-panel{
			
			max-width: 100%;
		}
		#sidebar{
			float: none;
			text-align: center;
			max-width: 100%;
		}
		.aui-header-primary, .aui-header .aui-nav, .aui-header img, .aui-header a,.aui-header h1{
			/*width: 100%;*/
			margin: auto;
			float: none!important;
			text-align: center;
		}
	}

	</style>
</head>

<body>






	<header id="header" role="banner">
		<!-- App Header goes inside #header -->

		<nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
			<div class="aui-header-primary">
				<h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="http://example.com/"><div>
					<img src="http://atlassian.wpengine.netdna-cdn.com/wp-content/themes/atlassian/images/header_logo.png">
				</div>
			</a></h1>
			
		</div>
		<div class="aui-header-secondary">
			<ul class="aui-nav">
				<li>
					<form action="/foo" method="post" class="aui-quicksearch">
						<label for="quicksearchid" class="assistive">Search</label>
						<input id="quicksearchid" class="search" type="text" placeholder="Search..." name="quicksearchname">
					</form>
				</li>
				
				<li><a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header9">
					<div class="aui-avatar aui-avatar-small">
						<div class="aui-avatar-inner">
							<img src="http://0.gravatar.com/avatar/ea9b3e96ec7a260aa7600ab9bcf5637a?s=48&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D48&r=PG"></img>
						</div>
					</div>
				</a>
				<div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header9" style="display: none; top: 40px; min-width: 160px; left: 1213px;" aria-hidden="true">
					<div class="aui-dropdown2-section">
						<ul>
							<li><a href="http://example.com/" class="active">Profile</a></li>
							<li><a href="http://example.com/">Extensions</a></li>
						</ul>
					</div>
					<div class="aui-dropdown2-section">
						<ul>
							<li><a href="http://example.com/">Use Agile by default</a></li>
						</ul>
					</div>
					<div class="aui-dropdown2-section">
						<ul>
							<li><a href="http://example.com/">Log out</a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>

<!-- App Header goes inside #header -->
</header>







<nav class="aui-navgroup aui-navgroup-horizontal" >
	<div class="aui-navgroup-inner" style="padding-top:30px;" >
		<div class="aui-navgroup-primary">
			<ul class="aui-nav">
				<li><a href="#">All Blogs</a></li>
				<li class="aui-nav-selected"><a href="#">Products</a></li>
				<li><a href="#">Developer</a></li>
				<li><a href="#">News <span class="aui-badge">12</span></a></li>
			</ul>
		</div><!-- .aui-navgroup-primary -->
		
	</div><!-- .aui-navgroup-inner -->
</nav>

<div id="main" style="">

	<div class="aui-page-panel">
		<div class="aui-page-panel-inner">
			<section class="aui-page-panel-content">
				<h1 style="border-bottom:1px solid gray; padding: 10px 0 20px 0; margin-bottom:15px;">My life runs in JIRA</h1>

















				<div class="postinfo">
					<span class="aui-avatar aui-avatar-project aui-avatar-xlarge" style="float:left;">
						<span class="aui-avatar-inner">
							<img src="https://docs.atlassian.com/aui/5.3/resources/img/project-64.png"></img>
						</span>
					</span>



					<ul style="margin: 0 100px 0 0;float:left;">
						<li>
							By <a href="http://blogs.atlassian.com/author/npellow/">Nick Pellow</a>, Senior Java Developer            
						</li>
						<li>
							<a href="http://blogs.atlassian.com/blog-cat/dev-tools/">Dev Tools</a>, <a href="http://blogs.atlassian.com/blog-cat/developer/">Developer</a>, <a href="http://blogs.atlassian.com/blog-cat/crucible/">Crucible</a>, <a href="http://blogs.atlassian.com/blog-cat/fisheye/">FishEye</a>            
						</li>
						<li>On May 14, 2014</li>
					</ul>
					<div class="social-media-buttons" style="width:70px;float:right;position:absolute;right:30px;">

						<div class="postshare">



							<div class="button twitter">
								<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1400006231.html#_=1400417977581&amp;count=horizontal&amp;counturl=http%3A%2F%2Fblogs.atlassian.com%2F2014%2F05%2Ftop-10-tips-distributed-development-teams%2F&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fblogs.atlassian.com%2F2014%2F05%2Ftop-10-tips-distributed-development-teams%2F&amp;size=m&amp;text=Our%20top%2010%20tips%20for%20distributed%20development%20teams&amp;url=http%3A%2F%2Fatlss.in%2FRQLdrQ&amp;via=atlassian" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>
							</div><!--/button-->
							<div class="button">
								<span class="IN-widget" style="line-height: 1; vertical-align: baseline; display: inline-block; text-align: center;"><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1400417975489_0"><a id="li_ui_li_gen_1400417975489_0-link" href="javascript:void(0);"><span id="li_ui_li_gen_1400417975489_0-logo">in</span><span id="li_ui_li_gen_1400417975489_0-title"><span id="li_ui_li_gen_1400417975489_0-mark"></span><span id="li_ui_li_gen_1400417975489_0-title-text">Share</span></span></a></span></span><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;"><span id="li_ui_li_gen_1400417975508_1-container" class="IN-right"><span id="li_ui_li_gen_1400417975508_1" class="IN-right"><span id="li_ui_li_gen_1400417975508_1-inner" class="IN-right"><span id="li_ui_li_gen_1400417975508_1-content" class="IN-right">8</span></span></span></span></span></span><script type="IN/Share+init" data-url="http://blogs.atlassian.com/2014/05/top-10-tips-distributed-development-teams/" data-counter="right"></script></div>
								<div class="button google"><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background-position: initial initial; background-repeat: initial initial;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1400417977773" name="I0_1400417977773" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=http%3A%2F%2Fblogs.atlassian.com&amp;url=http%3A%2F%2Fblogs.atlassian.com%2F2014%2F05%2Ftop-10-tips-distributed-development-teams%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.rvpQlI-iuYI.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Fz%3Dzcms%2Frs%3DAItRSTOlpd6Caurcj1h4xfVCciTUJfihkw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1400417977773&amp;parent=http%3A%2F%2Fblogs.atlassian.com&amp;pfname=&amp;rpctoken=62200924" data-gapiattached="true" title="+1"></iframe></div></div><!--/button-->





































								<span class="close"></span></div>
							</div>


						</div>


<ac:layout><ac:layout-section ac:type="single">

<p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;color: rgb(51,102,255);"><strong>NOTE TO REVIEWERS: &nbsp;This piece is based on Nick Pellow's popular blog post on <a href="https://extranet.atlassian.com/pages/viewpage.action?pageId=2198144364"><span style="color: rgb(51,102,255);">Distributed Teams. How do we work?</span></a> &nbsp;It will be blog post that Nick puts up on WAC for public consumption.</strong><br /></span></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;"><br /></span></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">I often get asked about how we use our own tools for software development here at Atlassian. &nbsp;Since it is fast becoming the norm to work as a distributed team at Atlassian,&nbsp;I thought I'd take a moment to share some of our experiences in working more efficiently across time zones and geographies. I'm highlighting FishEye and Crucible as we've spawned a new team in Gdansk over a year ago so it's a good example of a distributed effort. &nbsp;</span></p><h1 style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;"><strong>1.&nbsp;Release Planning</strong></span></h1><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">Planning begins when the Product Manager (PM) creates an overview page for the next release. The PM consults with the team at least once per quarter in a separate 'Roadmap Meeting' to ensure buy-in, to communicate any strategic shifts, and mainly to hear from the development team on what they believe are the top priorities. &nbsp;We then create &ldquo;stories&rdquo; that richly describe what, why and how the feature is actually used by customers. The PM uses Confluence to manage all these inputs centrally regardless of where the team member sits.&nbsp; A vote on the release candidates ensures the key stakeholders have a voice into the planning process and the overview page that&rsquo;s been vetted. &nbsp;Here's what a spec summary looks like:</span></p><p style="margin-left: 0.0px;"><ac:image><ri:attachment ri:filename="3-1.2 Specs - FishEye Crucible Development - Extranet 2013-12-02 13-32-04.jpg" /></ac:image></p><h1 style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;"><strong>2. Spiking and Speccing&nbsp;</strong></span></h1><p>The completed overview page kicks off the 2-week sprint which we call &quot;Spiking and Speccing.&rdquo; &nbsp;This step is about defining how the feature will function, how it will be implemented, how it will be tested, how much time it will take, and close with a recommendation for continuing with the feature or not. The output is a fleshed out spec for each feature which has:</p><ul><li>been peer reviewed</li><li>a task list breakdown</li><li>rough estimates for each task</li><li>a QA and test plan</li><li>a list of risks and mitigation for each</li><li>often changed quite a bit from the original idea or plan</li><li>been vetted by the PM, Development Manager and key stakeholders</li></ul><h1 style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;"><strong>3. Feature Buddies&nbsp;</strong></span></h1><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">A feature buddy is your feature champion. They are your second pair of eyes, ears and hands that help ensure the feature you&rsquo;re leading is on time and of high quality.&nbsp; And if you pair up leads and buddies in different geographies, you also encourage cross-pollination of ideas across time zones and even cultures. Collaboration tools play a big role here.&nbsp;</span></p><p style="margin-left: 0.0px;"><span style="color: rgb(255,102,0);">&nbsp;</span></p><ul><li><p>Confluence for initial feature spec review, discussion and clarification. Also used to articulate larger problems, and RFC from teams&nbsp;</p></li><li><p>JIRA for sprint planning and status reporting, customer support</p></li><li><p>Crucible for code reviews. This has been very important for knowledge sharing about the code</p></li><li><p>HipChat for daily standups</p></li></ul><h1 style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;"><strong>4. Project Plan</strong></span></h1><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">Once all the specs have been reviewed and finalized, we create a project plan that lays out who is doing what, when. It helps us visualize what the release will involve. By posting on our intranet (we use Confluence) we also get quite a bit of discussion on scope, timing, and risks of the feature development. We can also factor in developer resource needs arising from Support, bug fixes, and vacation plans. All these inputs make for a solid project plan that&rsquo;s got much greater execution confidence. &nbsp;Here's what a project plan looks like:</span></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;"><ac:image><ri:attachment ri:filename="3.2-project-plan 2014-01-08 16-10-08.jpg.png" /></ac:image><br /></span></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">&nbsp;</span></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;"><br /></span></p><p><strong>5. QA Kick-offs</strong></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">Our QA kickoffs involve quite a lot virtual conference interaction for the distributed team. The QA Kickoff happens once the Spiking and Speccing is complete and the document goes final. Teammates vet the features and specs further as they try to find holes in the planned implementation, the planned UX, and to devise a test plan for the feature.</span></p><p>This meeting is also a final gate for the feature (before development begins) and is used to establish the quality bar before product can ship.&nbsp; Notes from the QA Kick-off meeting are left on the Spec for the feature. This allows anyone not present in the meeting to also chime in with suggestions for test planning.</p><p style="margin-left: 0.0px;"><span style="color: rgb(255,102,0);">&nbsp;</span></p><p><strong>6. Sprint Planning</strong></p><p><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">With four releases per year, we simply must plan carefully what&rsquo;s in and what&rsquo;s out for each release.&nbsp; At this point, the specs already have the task breakdowns, and for each spec in Confluence we create one Epic in JIRA. Then below this Epic, we create the tasks which the engineer has identified in the speccing sprint.&nbsp; The first sprint on Spiking and Speccing gives us good information to consider de-scoping or even dropping a particular spec if it&rsquo;s not worth jeopardizing the overall release schedule. Sprint planning therefore really allows us to fix a release date with much higher confidence. &nbsp;</span></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">By the way, we have learned that sprint planning is best done separately in each office first.&nbsp; It turns out that trying to do live sprint planning across many time zones and cultures is too tricky.&nbsp; So once all tasks and stories are planned and in the next sprint, the planner will look at JIRA Agile and ensure each Task has been story-pointed and resource availability has been factored.</span></p><p><strong><ac:image><ri:attachment ri:filename="FECRU Scrum - Agile Board - Atlassian JIRA 2013-12-02 15-16-10.jpg" /></ac:image><br /></strong></p><p><strong>7. Daily Stand-ups</strong></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">At the end of each workday, we leave a #standup message in HipChat. &nbsp;This is the best place to ask questions that have arisen during the day or to flag any blocking tasks or issues.&nbsp; Since the last retrospective, developers also report their Review Inbox count. This encourages people to get their reviews done on time as often developers may inadvertently block progress if they&rsquo;re not performing their reviews on time.</span></p><p style="margin-left: 0.0px;"><span style="color: rgb(255,102,0);">&nbsp;</span></p><p><strong>8. Sprint Demos</strong></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">Since our time zones are such that there is never an overlap between 9am and 5pm, there&rsquo;s always one team working outside these hours.&nbsp; A work-at-home option helps those people bridge the gap.&nbsp; We use BlueJeans to connect to our Polycom Virtual Conference system so that people can join from home or anywhere. And simple things like ensuring that the 'Demo Agenda' page contains information about each demo really helps to save time in the demo meeting or allow people to view/interact with the demo themselves.&nbsp; We've even made a simple Confluence Blueprint for this!</span></p><p style="margin-left: 0.0px;"><span style="color: rgb(255,102,0);">&nbsp;<ac:image><ri:attachment ri:filename="create-blueprint 2014-01-08 17-13-51.jpg.png" /></ac:image></span></p><p><ac:image><ri:attachment ri:filename="3.2.0-m5 Iteration Demos Agenda - FishEye Crucible Development - Extranet 2014-01-08 17-16-08.jpg" /></ac:image></p><p><strong>9. Staying Connected</strong></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">All of this has not been achieved purely via VC links. We&rsquo;ve traveled a lot between the offices as nothing beats face to face.&nbsp;&nbsp; We've tried to ensure that during each visit, there was at least one Release Event for the team which is a blend of fun, team building, and work.&nbsp; It&rsquo;s been invaluable not only for getting to know each other but also for learning how each person works. We&rsquo;ve found it&rsquo;s important to understand different communication styles, personalities, and cultures when 95% our communication is written.</span></p><p style="margin-left: 0.0px;"><span style="color: rgb(255,102,0);">&nbsp;</span></p><p><strong>10. Continual Improvement</strong></p><p style="margin-left: 0.0px;"><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">We&rsquo;re thrilled that all these practices have helped us achieve a big milestone -- FishEye and Crucible are now driven entirely from Gdansk instead of Sydney. &nbsp;This shows the level of trust between the two teams is extremely high, and exemplifies how distributed development teams can work well.&nbsp; But there&rsquo;s always room for improvement.&nbsp; For the past 12 months, we've met as a team, twice per fortnight &ndash; Tuesday&rsquo;s for demo meeting, and Wednesday&rsquo;s for planning. We&rsquo;ll try merging these two meetings into one to improve efficiencies. It will require more prep ahead of the meeting but should lead to time savings.&nbsp; If the trial works, we&rsquo;ll adopt the practice as it&rsquo;s all about continual improvement.&nbsp; Time zones do continue to remain a challenge but with teleconferencing, onsite visits, and attention to good communication we can steadily improve there too.</span></p><p style="margin-left: 0.0px;"><span style="color: rgb(255,102,0);">&nbsp;</span></p><p><strong>Thanks</strong></p><p><span class="Apple-style-span" style="font-size: 14.0px;line-height: 20.0px;">The efforts by both teams to stay connected, and focused on achieving the same goals have definitely been worth it. The high level of enthusiasm within the FishEye and Crucible develop team to make a difference and continually improve how we work together has been a highlight. It has certainly been an equal effort all around with the team in Gdansk continually pushing just as much to improve the process and product as the team in Sydney does. &nbsp;</span>Also, thanks for reading this far. &nbsp;What techniques do you find most useful to help your distributed team collaborate most effectively?</p><h1 style="margin-left: 0.0px;"><span style="color: rgb(255,102,0);"><br /></span></h1><p style="margin-left: 0.0px;">&nbsp;</p>


</ac:layout-section></ac:layout>


<hr>





						<ac:layout><ac:layout-section ac:type="single"><ac:layout-cell><p>Nobody will ever accuse me of being a wine snob, what with my unsophisticated palate and refusal to spend over $30. But I know what I like, and when I find something I like, I like to grab a few bottles to have on hand. This has led to me to build up a modest little collection over the past few years. I don't have space for a proper wine rack to hold it, so everything is stored in cardboard boxes in my basement.</p><p>This is nicely space-efficient, but about as un-transparent as can be. Not only is cardboard opaque, but a box containing wine looks just like a box containing books. This came to a couple months ago when I was digging around for snow gear and unearthed a box of 6 bottles I'd completely forgotten about. Thank goodness wine has a long shelf-life! If only I had a system for keeping track of what I've got in storage, and what I want to pick up more of, that I could access from anywhere... oh <em>wait</em>.&nbsp;<ac:emoticon ac:name="smile" /></p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="two_equal"><ac:layout-cell><h2>Enter the JIRA</h2><p>Inspired by Dan Radigan's&nbsp;<a href="http://blogs.atlassian.com/2014/03/jira-asset-management-overview/">recent series</a> on using JIRA for inventory management, I turned to my trusty OnDemand instance and went to work creating a project and Kanban board for my &quot;cellar&quot;.&nbsp;</p><p>Since I would only need one issue type and only a few workflow states, I chose the Simple Issue Tracking type when setting up my new project space. But I also needed to take a machete to the default fields, add a few fields of my own, and set up my workflow scheme. To the admin console!</p><p>First up: create a new issue type called &quot;Bottle&quot;, and remove all other issue types from my project. Issues are at the heart of JIRA, so getting the issue types sorted out lays the foundation for pretty much all other customizations. While issue type schemes are sharable across projects, the best option for this kind of situation is a custom scheme for my project. It's much cleaner than adding &quot;Bottle&quot; to the default scheme and having it clutter up my other project spaces.</p><p>For the same reasons, I decided to create a custom field configuration for my new issue&nbsp;type. Most of the default fields were unnecessary, and needed to be cleared away. <span style="color: rgb(51,51,51);">(I could've individually removed them from the create/edit and view screens, but since I didn't need that level of granularity, the one-click convenience of &quot;<a href="https://confluence.atlassian.com/display/JIRA/Specifying+Field+Behavior#SpecifyingFieldBehavior-Hidingorshowingafield">Hide</a>&quot; won out.)</span> I'll want to be able to search my collection by vintage, varietal, and price. Vintage and price range were pretty straightforward&nbsp;fields&ndash;a drop-down menu and set of radio buttons, respectively.&nbsp;But varietal offered the opportunity for something a bit fancier. Rather than having to specify a half-dozen varietals in a search, I'd like to be able to easily include&nbsp;<em style="font-size: 14.0px;line-height: 1.4285715;">all</em>&nbsp;reds or&nbsp;<em style="font-size: 14.0px;line-height: 1.4285715;">all</em>&nbsp;whites in the criteria, so I set that up as a cascading select field. &nbsp;</p></ac:layout-cell><ac:layout-cell><p>&nbsp;</p><p><ac:image ac:align="center" ac:queryparams="effects=border-simple,blur-border" ac:width="500"><ri:attachment ri:filename="create_issue_bottle-2.png" /></ac:image></p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="two_equal"><ac:layout-cell><p><ac:image ac:align="center" ac:queryparams="effects=border-simple,blur-border"><ri:attachment ri:filename="uncork-2.png" /></ac:image></p></ac:layout-cell><ac:layout-cell><p>&nbsp;</p><p>For the workflow I set up four states: Wish List, Cellar, Upstairs, and Enjoyed. It's a basic flow from state to state, with the option to move a bottle directly from Wish List or Cellar to Enjoyed since I've been known to buy and uncork a bottle on the same day. Why bother to enter it at all in that case? Because when transitioning a bottle to Enjoyed, I get to rate the wine in terms of whether I'd buy it again and jot down a new notes about it. (I wanted to re-label the Comments field as &quot;Tasting Notes&quot;, but that would require deeper tinkering and de-scoped it from the project's MVP.)</p><h2>Getting a visual on it</h2><p>What really makes this whole thing work, though, is having it all on an agile board with a column for each workflow state. Using a JQL query for the swimlanes came in handy too. Usually when I want to pick out a bottle of wine for a gift or dinner party or whatever, the first question I ask myself is usually how &quot;nice&quot; a bottle am I looking for? So I sliced the swim lanes by price range for easy reference. Then just for fun, I played around with the color stripe on the edge of each card. Red for reds, pink for roses, and pale yellow for whites. That requires a JQL query as well, but keying off the parent value in my varietal field made it really&nbsp;simple&ndash;cascading select FTW!</p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="single"><ac:layout-cell><h2>Now for the fun part</h2><p>So here it is, in all it's glory. I have to say: JIRA's support for iOS makes it look great on the iPad. We put an iPad wall-mount in the kitchen&nbsp;<a href="http://blogs.atlassian.com/2013/11/my-life-runs-on-jira-project-little-man/">a while back</a>, which is proving to be a good decision.&nbsp;</p><p><ac:image ac:align="center" ac:height="573" ac:queryparams="effects=border-simple,blur-border" ac:width="1275"><ri:attachment ri:filename="cellartracker.png" /></ac:image></p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="two_right_sidebar"><ac:layout-cell><p>&nbsp;</p><p>The cellar tracker has been up and running for over a month, and it feels totally bad-ass to pull this up right there in my kitchen and drag stuff around. I can even put items on my wish list (including a photo of the label!) using my phone when I'm out n' about and discover something yummy. I find that I use my cellar tracker most when there are several updates to make&ndash;not so much on a bottle-by-bottle basis. When the small wine rack in our dining room starts to look bare, I'll bring an arm-load of bottles up from the basement, then make all the updates on the board at once: what's been uncorked, what's now upstairs. My favorite, though, is when I get to enter a few new bottles into the system. And since my wine club shipment just arrived last night, I'll get to enjoy that particular use case today after work. Though I suspect one of those new entries will be immediately destined for the &quot;Enjoyed&quot; status...&nbsp;<ac:emoticon ac:name="wink" />&nbsp;</p></ac:layout-cell><ac:layout-cell><p>&nbsp;</p><p><ac:image ac:thumbnail="true" ac:width="300"><ri:attachment ri:filename="clubshipment.png" /></ac:image></p></ac:layout-cell></ac:layout-section></ac:layout>




						<div style="display:block;clear:both;">

							<hr>












<ac:layout><ac:layout-section ac:type="single"><ac:layout-cell><p><ac:structured-macro ac:name="gadget"><ac:parameter ac:name="url">http://confluence.atlassian.com/rest/gadgets/1.0/g/com.atlassian.streams.confluence:activitystream-gadget/gadgets/conf-activitystream-gadget.xml</ac:parameter><ac:parameter ac:name="preferences">rules=%257B%2522providers%2522%253A%255B%257B%2522provider%2522%253A%2522streams%2522%252C%2522rules%2522%253A%255B%255D%252C%2522disabled%2522%253Atrue%257D%252C%257B%2522provider%2522%253A%2522wiki%2522%252C%2522rules%2522%253A%255B%255D%257D%252C%257B%2522provider%2522%253A%2522issues%2540144880e9-a353-312f-9412-ed028e8166fa%2522%252C%2522rules%2522%253A%255B%255D%257D%252C%257B%2522provider%2522%253A%2522issues%254061b6191d-d412-3043-a96c-75b7bceaed1f%2522%252C%2522rules%2522%253A%255B%255D%257D%252C%257B%2522provider%2522%253A%2522wiki%2540d9d6a279-fbca-3f60-a3b5-9e45cd06f208%2522%252C%2522rules%2522%253A%255B%255D%257D%252C%257B%2522provider%2522%253A%2522wiki%2540bf13be6c-926b-318e-95cc-99dc04f8597e%2522%252C%2522rules%2522%253A%255B%255D%257D%252C%257B%2522provider%2522%253A%2522thirdparty%2540144880e9-a353-312f-9412-ed028e8166fa%2522%252C%2522rules%2522%253A%255B%255D%257D%252C%257B%2522provider%2522%253A%2522thirdparty%254061b6191d-d412-3043-a96c-75b7bceaed1f%2522%252C%2522rules%2522%253A%255B%255D%257D%255D%257D&amp;refresh=false&amp;numofentries=10&amp;title=Activity%2520Stream&amp;isConfigured=true&amp;isReallyConfigured=true</ac:parameter></ac:structured-macro></p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="two_left_sidebar"><ac:layout-cell><p><ac:image><ri:attachment ri:filename="webinar-01.jpg" /></ac:image></p></ac:layout-cell><ac:layout-cell><h2><ac:emoticon ac:name="yellow-star" />&nbsp;Upcoming Webinars</h2><p><ac:structured-macro ac:name="jira"><ac:parameter ac:name="columns">epic name,webinar date,status,reporter,key</ac:parameter><ac:parameter ac:name="server">Atlassian JIRA Extranet - Special Projects</ac:parameter><ac:parameter ac:name="serverId">1202c5f7-2db8-3476-90b9-79417ee44946</ac:parameter><ac:parameter ac:name="jqlQuery">project = WBI AND &quot;Webinar Date&quot; &gt;= -0m </ac:parameter><ac:parameter ac:name="maximumIssues">20</ac:parameter></ac:structured-macro></p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="single"><ac:layout-cell><p><ac:structured-macro ac:name="calendar"><ac:parameter ac:name="id">dd438875-f664-46b0-8b3e-af74a8d66d5b</ac:parameter><ac:parameter ac:name="defaultView">list</ac:parameter><ac:parameter ac:name="" /></ac:structured-macro></p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="single"><ac:layout-cell><h1 style="text-align: center;"><br /><span style="color: rgb(0,0,0);">â—â–¬â–¬â–¬â–¬à¹‘Û©&nbsp;</span>AWESOME_TITLE_FOR_THIS_DOCUMENT&nbsp;<span style="color: rgb(0,0,0);">Û©à¹‘â–¬â–¬â–¬â–¬â–¬â—</span></h1><h1 style="text-align: center;"><span style="color: rgb(0,0,0);">â—â–¬â–¬â–¬â–¬à¹‘ Create&nbsp;</span><span style="color: rgb(0,0,0);">à¹‘â–¬â–¬â–¬â–¬â–¬â—</span></h1><h2 style="text-align: center;"><span>&nbsp;</span><a href="https://extranet.atlassian.com/pages/createpage-entervariables.action?templateId=2208235563&amp;spaceKey=WBI&amp;title=Title%20New%20Webinar&amp;newSpaceKey=WBI&amp;fromPageId=2203790993">1. Create&nbsp;Webinar EAC document from Template</a></h2><p style="text-align: center;"><a href="https://extranet.atlassian.com/pages/createpage-entervariables.action?templateId=2208235563&amp;spaceKey=WBI&amp;title=Title%20New%20Webinar&amp;newSpaceKey=WBI&amp;fromPageId=2203790993">(store it under &quot;Webinar repository&quot;)</a>&nbsp;<span style="color: rgb(0,51,102);">&nbsp;</span><span><span style="color: rgb(0,51,102);">&nbsp;</span></span></p><h3 style="text-align: center;"><span><span style="color: rgb(0,51,102);"><a href="https://extranet.atlassian.com/jira/secure/CreateIssue!default.jspa">1bis. Create your JIRA Epic (if you didn't do it in step 1)</a></span></span></h3><h1 style="text-align: center;"><span style="color: rgb(0,0,0);">â—â–¬â–¬â–¬â–¬à¹‘ Plan&nbsp;</span><span style="color: rgb(0,0,0);">à¹‘â–¬â–¬â–¬â–¬â–¬â—</span></h1><h2 style="text-align: center;"><span>&nbsp;</span><ac:link><ri:page ri:content-title="2# Planning" /><ac:plain-text-link-body><![CDATA[2. Plan your Webinar]]></ac:plain-text-link-body></ac:link></h2><p style="text-align: center;">(Find date, Create/Update landing page)</p><h2 style="text-align: center;"><ac:link><ri:page ri:content-title="3# Pre-Promotion &amp; Email Invitation" /><ac:plain-text-link-body><![CDATA[3. Pre-promotion + Email Draft]]></ac:plain-text-link-body></ac:link></h2><p style="text-align: center;">(Content of the email <span>(from template)</span>&nbsp;+ Scope, <span>Marketing/GA links&nbsp;</span><span>(see link above)</span>)</p><h1 style="text-align: center;"><span style="color: rgb(0,0,0);">â—â–¬â–¬â–¬â–¬à¹‘ Promote&nbsp;</span><span style="color: rgb(0,0,0);">à¹‘â–¬â–¬â–¬â–¬â–¬â—</span></h1><h2 style="text-align: center;"><span style="color: rgb(0,51,102);">4. Promote Webinar + Send Email</span></h2><p style="text-align: center;"><span style="color: rgb(0,51,102);">(Meerkat, Twitts, Email Blast, Facebook, Google+, Experts, <em>Aug</em>, <em>Newsletter</em>, <em>Blog ...</em>)</span></p><h2 style="text-align: center;"><span style="color: rgb(0,51,102);">5. Webinar</span></h2><h2 style="text-align: center;"><span style="color: rgb(0,51,102);">&nbsp;</span><span style="color: rgb(0,51,102);">5. Post Webinar + Stats</span></h2><p style="text-align: center;"><span style="color: rgb(0,51,102);font-size: 24.0px;line-height: 1.25;text-align: center;">&nbsp;</span></p><p style="text-align: center;"><span style="color: rgb(0,51,102);font-size: 24.0px;line-height: 1.25;text-align: center;"><br /></span></p><p style="text-align: center;"><span style="color: rgb(0,51,102);font-size: 24.0px;line-height: 1.25;text-align: center;">Need some Help?</span></p><p style="text-align: center;"><span style="color: rgb(0,51,102);font-size: 24.0px;line-height: 1.25;text-align: center;">Check out the Webinar Step by Step</span></p><h1 style="text-align: center;"><span style="color: rgb(0,51,102);"><span style="color: rgb(0,51,102);"><ac:link><ri:page ri:content-title="1# Create Webinar" /><ac:plain-text-link-body><![CDATA[1# Creating]]></ac:plain-text-link-body></ac:link></span></span></h1><h1 style="text-align: center;"><span style="color: rgb(0,51,102);"><ac:link><ri:page ri:content-title="2# Planning" /><ac:plain-text-link-body><![CDATA[2# PlanningÂ ]]></ac:plain-text-link-body></ac:link></span></h1><h1 style="text-align: center;"><span style="color: rgb(0,51,102);"><ac:link><ri:page ri:content-title="3# Pre-Promotion &amp; Email Invitation" /><ac:plain-text-link-body><![CDATA[3# Promoting]]></ac:plain-text-link-body></ac:link></span></h1><p>&nbsp;</p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="single"><ac:layout-cell><p>Notes and Presentation from David:&nbsp;<ac:link><ri:page ri:content-title="Webinars" ri:space-key="~dbonilla" /></ac:link></p><ac:structured-macro ac:name="expand"><ac:rich-text-body><p><a href="https://extranet.atlassian.com/jira/secure/CreateIssueDetails!init.jspa">https://extranet.atlassian.com/jira/secure/CreateIssueDetails!init.jspa?</a>&nbsp;</p><p>JIRA =&nbsp;<code class="html plain">&lt;</code><code class="html keyword">a</code>&nbsp;<code class="html color1">href</code><code class="html plain">=</code><code class="html string">&quot;<a href="https://extranet.atlassian.com/jira/">https://extranet.atlassian.com/jira</a>/secure/CreateIssueDetails!init.jspa?[ARGUMENTS]&quot;</code><code class="html plain">&gt;[DESCRIPTION]&lt;/</code><code class="html keyword">a</code><code class="html plain">&gt;</code></p><div><code class="html plain"><br /></code></div></ac:rich-text-body></ac:structured-macro></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="two_equal"><ac:layout-cell><h2><ac:emoticon ac:name="yellow-star" />&nbsp;All Webinars</h2><p><ac:structured-macro ac:name="jira"><ac:parameter ac:name="columns">epic name,webinar date,status,reporter,key</ac:parameter><ac:parameter ac:name="server">Atlassian JIRA Extranet - Special Projects</ac:parameter><ac:parameter ac:name="serverId">1202c5f7-2db8-3476-90b9-79417ee44946</ac:parameter><ac:parameter ac:name="jqlQuery">project = WBI </ac:parameter><ac:parameter ac:name="maximumIssues">20</ac:parameter></ac:structured-macro></p></ac:layout-cell><ac:layout-cell><h2><ac:emoticon ac:name="yellow-star" />&nbsp;Upcoming Webinars</h2><p><ac:structured-macro ac:name="jira"><ac:parameter ac:name="columns">epic name,webinar date,status,reporter,key</ac:parameter><ac:parameter ac:name="server">Atlassian JIRA Extranet - Special Projects</ac:parameter><ac:parameter ac:name="serverId">1202c5f7-2db8-3476-90b9-79417ee44946</ac:parameter><ac:parameter ac:name="jqlQuery">project = WBI AND &quot;Webinar Date&quot; &gt;= -0m ORDER BY due DESC </ac:parameter><ac:parameter ac:name="maximumIssues">20</ac:parameter></ac:structured-macro></p></ac:layout-cell></ac:layout-section></ac:layout><ac:layout><ac:layout-section ac:type="single"><ac:layout-cell><p>&nbsp;</p></ac:layout-cell></ac:layout-section><ac:layout-section ac:type="single"><ac:layout-cell><p>&nbsp;</p></ac:layout-cell></ac:layout-section></ac:layout>

















<hr>


							<h2><span style="color: rgb(0,0,0);">Git Ready workflow webinar</span><span style="color: rgb(0,0,0);">&nbsp;</span></h2><ac:structured-macro ac:name="tip"><ac:rich-text-body><p><strong>Status</strong>: Final Draft.&nbsp; Ready for review by Sam</p></ac:rich-text-body></ac:structured-macro><p><span><span><br /></span></span></p><p><img style="float:right"  src="https://lh5.googleusercontent.com/AKVihMegTM6tWhiU5NecVg2TNIKfZnu8md9CLAGvEe5mdPVdJGDZt7Mud4UKO1q7vXULe53T2uaDpJVi42c11c6UOAqBYNXWF5V8RkUPI38cx1q4HcdeELi-dg" /></p><p><span style="color: rgb(0,0,0);">Comment choisir un workflow Git adapt&eacute; &agrave; votre &eacute;quipe? Comment am&eacute;liorer votre productivit&eacute; tout en r&eacute;duisant les fictions au sein de votre &eacute;quipe?&nbsp;</span><span style="color: rgb(0,0,0);">Quelles sont les pratiques utilis&eacute;es dans l&rsquo;industrie et les &eacute;quipes agiles?&nbsp;</span><span style="color: rgb(0,0,0);">Comment utilisons-nous Git au sein de Atlassian?</span></p><p><span style="color: rgb(0,0,0);">Comme vous avez pu l&rsquo;entendre, Git offre de nombreuses fonctionnalit&eacute;s int&eacute;ressantes, et a acquis un incroyable succ&egrave;s dans l'industrie au sens large.&nbsp;</span><span style="color: rgb(0,0,0);">Pourtant, l&rsquo;adoption de Git au sein de votre entreprise peut &ecirc;tre intimidant.&nbsp;</span><span style="color: rgb(0,0,0);">Le &quot;Git Ready&quot; webinar a pour objectif de r&eacute;pondre &agrave; ces questions et plus.</span></p><p><span style="color: rgb(0,0,0);">Nous aborderons:</span></p><ul><li><p><span>Les <strong>Mod&egrave;les de collaboration</strong> disponibles</span><span> lors de l'utilisation d'un syst&egrave;me de contr&ocirc;le de version distribu&eacute; comme Git</span></p></li><li><p><span>Les<strong> Mod&egrave;les de branche</strong></span><span> qui favorisent le renforcement du d&eacute;veloppement parall&egrave;le</span></p></li><li><p><span>Les &ldquo;<strong>best practice</strong>&rdquo; &eacute;mergentes</span><span> et les choix pouvant &ecirc;tre adopt&eacute;es en toute s&eacute;curit&eacute; lors de la migration vers Git</span></p></li><li><p><span>Nous aborderons aussi comment l&rsquo;I</span><strong>nt&eacute;gration Continue</strong><span> change du tout au tout lorsque votre &eacute;quipe embrasse Git</span></p></li></ul><h2><span style="color: rgb(0,0,0);">Quand aura lieu le &quot;Git Ready&quot; webinar?</span></h2><p><span style="color: rgb(0,0,0);">Marquez votre calendrier pour le <a href="https://www2.gotomeeting.com/register/194738538">17 D&eacute;cembre&nbsp;et r&eacute;servez une heure (10h &agrave; 11h du matin)</a> pour vous mettre &agrave; jour sur les Workflows Git.</span><span style="color: rgb(0,0,0);">&nbsp;</span></p><h2 style="text-align: center;"><a href="https://www2.gotomeeting.com/register/194738538"><strong><span style="color: rgb(153,204,0);">R&eacute;servez votre place d&egrave;s aujourd'hui</span></strong><strong style="line-height: 1.5;text-align: left;"><span style="color: rgb(153,204,0);">&nbsp;</span></strong></a></h2><p>&nbsp;</p><p><span style="color: rgb(0,0,0);">Le webinar assumera une compr&eacute;hension de base du <a href="http://blogs.atlassian.com/2012/02/version-control-centralized-dvcs/">contr&ocirc;le de version</a> et une connaissance de haut niveau des processus de d&eacute;veloppement logiciel; le reste, j&rsquo;en fais mon affaire. Je serai &eacute;galement disponible apr&egrave;s le webinar pour r&eacute;pondre &agrave; toutes les questions que vous pourriez avoir.</span></p><p><span style="color: rgb(0,0,0);">J'ai h&acirc;te de vous voir le 17 D&eacute;cembre!</span></p><p>Les inscriptions sont limit&eacute;es, alors &nbsp;<a href="https://www2.gotomeeting.com/register/194738538">r&eacute;servez votre place</a> d&egrave;s aujourd'hui.</p><p style="text-align: center;"><span style="color: rgb(0,0,0);">---------------</span></p><h2>Original post</h2><ac:structured-macro ac:name="tip"><ac:rich-text-body><p>&nbsp;</p></ac:rich-text-body></ac:structured-macro><p><span style="color: rgb(85,85,85);"><br /><ac:image ac:align="right"><ri:url ri:value="https://lh5.googleusercontent.com/AKVihMegTM6tWhiU5NecVg2TNIKfZnu8md9CLAGvEe5mdPVdJGDZt7Mud4UKO1q7vXULe53T2uaDpJVi42c11c6UOAqBYNXWF5V8RkUPI38cx1q4HcdeELi-dg" /></ac:image>How do you choose a git workflow that increases productivity and reduces the friction of your team? What are the battle tested practices of successful teams that moved to git? How is git used inside Atlassian</span></p><p><span style="color: rgb(85,85,85);">As you might have heard git has many compelling features and has gained incredible momentum in the industry at large. Yet understanding how an enterprise team can adopt it can be daunting. The &ldquo;Git Ready&rdquo; webinar aims to help answer these questions and more:</span></p><ul><li style="margin-left: 17.0px;"><p>Available collaboration models&nbsp;when using a distributed version control system like git</p></li><li style="margin-left: 17.0px;"><p>Branching models&nbsp;that foster and enhance parallel development</p></li><li style="margin-left: 17.0px;"><p>Emerging code best practices and choices&nbsp;that can be safely adopted when migrating to git</p></li><li style="margin-left: 17.0px;"><p>How&nbsp;Continuous Integration&nbsp;changes when your team embraces git</p></li></ul><h2><span style="color: rgb(124,166,10);"><br /></span></h2><h2><span style="color: rgb(124,166,10);"><br /></span></h2><h2><span style="color: rgb(124,166,10);">When is the &ldquo;Git Ready&rdquo; webinar?</span></h2><p><span style="color: rgb(85,85,85);">Mark your calendar for&nbsp;</span><span style="color: rgb(85,85,85);">August 27th and&nbsp;</span><a href="https://www2.gotomeeting.com/register/194738538"><span style="color: rgb(76,154,201);">reserve one hour (9-10 AM PST)</span></a><span style="color: rgb(85,85,85);">&nbsp;to tune in to the fascinating topic of git Workflows.</span></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="color: rgb(0,51,102);"><a href="https://www2.gotomeeting.com/register/168242954"><span style="color: rgb(0,51,102);">Reserve your spot today</span></a></span></p><p style="text-align: center;"><span style="color: rgb(255,255,255);"><br /></span></p><p><span style="color: rgb(85,85,85);">The webinar will assume a basic understanding of&nbsp;</span><a href="http://blogs.atlassian.com/2012/02/version-control-centralized-dvcs/"><span style="color: rgb(76,154,201);">what version control is</span></a><span style="color: rgb(85,85,85);">&nbsp;and a high level familiarity with the software development process; I&rsquo;ll lead you from there. I will also be online afterwards to answer any questions you might have.</span></p><p><span style="color: rgb(85,85,85);">I look forward to seeing all of you August 27th! Registrations are limited, so&nbsp;</span><a href="https://www2.gotomeeting.com/register/194738538"><span style="color: rgb(76,154,201);">reserve your spot today</span></a><span style="color: rgb(85,85,85);">.</span></p><p><br /><span style="color: rgb(0,0,0);">&nbsp;</span></p>












							<hr>












							<ac:structured-macro ac:name="expand"><ac:parameter ac:name="title">a few notes about SEO...</ac:parameter><ac:rich-text-body><p>After thinking of the current SEO, I believe we should cover the following subject in priority due to our &quot;lack of FR SEO&quot;. (just another strategy)</p><ul><li>Knowledge base<ul><li>Confluence 5.3 Knowledge base</li></ul></li><li>Issue tracker<ul><li>JIRA 6.1</li></ul></li><li>Git&nbsp;<ul><li><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/03/git-vs-mercurial-why-git/&amp;sa=D&amp;usg=ALhdy2-7Iy5PwYHmVjBAiytMo4udGmk-bg">/git-vs-mercurial-why-git/</a></li><li><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/05/atlassian-stash-enterprise-git-repository-management/&amp;sa=D&amp;usg=ALhdy2_tZlDWHoLMJnEBf-VV_PVfTHyewA">atlassian-stash-enterprise-git-repository-management/</a></li></ul></li><li>Collaboration Software</li><li>Development workflow and tool Integration<ul><li><a href="http://blogs.atlassian.com/2013/10/git-workflow-development/" rel="nofollow">http://blogs.atlassian.com/2013/10/git-workflow-development/</a></li></ul></li><li>Issue tracker<ul><li><a href="http://blogs.atlassian.com/2012/09/5-steps-to-build-a-killer-dashboard/">5-steps-to-build-a-killer-dashboard</a>)</li><li><a class="external-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/09/collaboration-best-practices-3-reasons-email-hurts-productivity/&amp;sa=D&amp;usg=ALhdy29EIDkNNjALhkUzMHsNDLlRzVpalA" rel="nofollow">collaboration-best-practices-3-reasons-email-hurts-productivity/</a></li></ul></li><li>Continuous integration</li></ul></ac:rich-text-body></ac:structured-macro><table><tbody><tr><th>Post</th><th>Date</th><th>Link on Confluence</th><th colspan="1">Published on Blog</th><th colspan="1">Tweeted @atlassian_fr</th></tr><tr><td colspan="1">JIRA 6.1</td><td colspan="1">week of 22th Oct 2013</td><td colspan="1">Post: <ac:link><ri:page ri:content-title="JIRA 6.1 Acc&eacute;l&eacute;rez le changement" /></ac:link></td><td colspan="1"><ac:emoticon ac:name="tick" /></td><td colspan="1"><ac:emoticon ac:name="cross" /></td></tr><tr><td colspan="1">Pycon</td><td colspan="1">Week of 28th Oct 2013</td><td colspan="1"><span>Post: </span><a href="http://blogs.atlassian.fr/2013/10/21/atlassian-present-a-pycon-france/">Atlassian-present-a-pycon-france</a></td><td colspan="1"><ac:emoticon ac:name="tick" /></td><td colspan="1"><ac:emoticon ac:name="cross" /></td></tr><tr><td colspan="1">Confluence 5.3 Knowledge base</td><td colspan="1"><span><span><span>12 Nov 2013</span></span></span></td><td colspan="1"><p>Post: <a href="http://blogs.atlassian.fr/2013/11/12/base-de-connaissances-confluence-5-3-transformez-votre-savoir-en-solutions/">Base de Connaissances Confluence 5.3: Transformez votre Savoir en Solutions</a></p><p>Twitter: &quot;Transformez votre savoir en solutions, decouvrez la base de connaissances <a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Confluence&amp;src=hash">#</a></s><strong>Confluence</strong>. Ne cherchez plus, trouvez.&quot;</p></td><td colspan="1"><ac:emoticon ac:name="tick" /></td><td colspan="1"><ac:emoticon ac:name="tick" /></td></tr><tr><td colspan="1">Devoxx</td><td colspan="1">15 Nov</td><td colspan="1"><p>Post: <ac:emoticon ac:name="cross" /></p><p>Twitter: Nous avons pass&eacute; un moment inoubliable @Devoxx Belgique. On se voit &agrave; @DevoxxFR. Et en attendant,&nbsp;&quot;Don't forget to #KickAss!&quot;</p></td><td colspan="1"><ac:emoticon ac:name="cross" /></td><td colspan="1"><ac:emoticon ac:name="tick" /></td></tr><tr><td colspan="1">Webinar</td><td colspan="1">1st Week Dec</td><td colspan="1"><p>Post: <ac:link><ri:page ri:content-title="Git Ready Workflow webinar" /></ac:link></p><p><span style="color: rgb(153,204,0);"><s>Twitter: &quot;<span style="text-decoration: underline;">&nbsp;</span>Amis #devs, on organise un #webinar sur les #workflows #git le 17 D&eacute;c (en fran&ccedil;ais). Places limit&eacute;es!<a href="http://atlss.in/1jGeFre" style="text-decoration: underline;" title="http://atlss.in/1jGeFre"><span style="color: rgb(153,204,0);"> http://atlss.in/1jGeFre</span></a>&quot; (137)</s></span></p><p><span style="color: rgb(153,204,0);"><s>Twitter: Demain, 10h, webinar sur les #workflows et autres bonnes pratiques #git en Fran&ccedil;ais! <a href="http://atlss.in/1jGeFre"><span style="color: rgb(153,204,0);">http://atlss.in/1jGeFre</span></a></s></span></p><p><span style="color: rgb(0,51,102);">Twitter: &quot;Webinar sur les #workflows et bonnes pratiques #git en Fran&ccedil;ais! <a href="http://atlss.in/1jGeFre"><span style="color: rgb(0,51,102);"><span class="protocol">http://</span>atlss.in/1jGeFre</span></a>&quot; (xxx)</span></p><p>Twitter: &quot;<span>Vous utilisez Git mais votre entreprise a du mal &agrave; franchir le pas? D&eacute;couvrez notre&nbsp;</span>webinar<span>&nbsp;</span><a class="twitter-hashtag pretty-link" href="https://twitter.com/search?q=%23workflow"><span style="color: rgb(102,102,102);">#</span>workflow</a>s<span>&nbsp;</span><a class="twitter-hashtag pretty-link" href="https://twitter.com/search?q=%23git"><span style="color: rgb(102,102,102);">#</span>git</a><span>&nbsp;le 17 D&eacute;c&nbsp;</span><a class="twitter-timeline-link" href="http://atlss.in/1jGeFre">http://atlss.in/1jGeFre</a>&quot; (140)</p><p>Twitter: &quot;<span>Vous utilisez toujours #cvs ou #svn? Passez &agrave; la vitesse sup&eacute;rieure gr&acirc;ce &agrave; #git. &nbsp;<a class="twitter-hashtag pretty-link" href="https://twitter.com/search?q=%23webinar"><span style="color: rgb(102,102,102);">#</span>webinar</a>&nbsp;<a class="twitter-hashtag pretty-link" href="https://twitter.com/search?q=%23workflow"><span style="color: rgb(102,102,102);">#</span>workflow</a>s&nbsp;<span style="color: rgb(102,102,102);">G</span><a class="twitter-hashtag pretty-link" href="https://twitter.com/search?q=%23git">it</a>&nbsp;le 17 D&eacute;c&nbsp;<a class="twitter-timeline-link" href="http://atlss.in/1jGeFre">http://atlss.in/1jGeFre</a></span>&quot; (140)</p><p>Twitter: &quot;D&eacute;couvrez les #workflows de d&eacute;veloppement #git applicable en entreprise. <a class="twitter-hashtag pretty-link" href="https://twitter.com/search?q=%23webinar"><span style="color: rgb(102,102,102);">#W</span>ebinar</a>&nbsp;workflow&nbsp;<span style="color: rgb(102,102,102);">g</span>it&nbsp;le 17 D&eacute;c&nbsp;<a class="twitter-timeline-link" href="http://atlss.in/1jGeFre">http://atlss.in/1jGeFre</a>&quot; (126)</p></td><td colspan="1"><ac:emoticon ac:name="tick" /></td><td colspan="1"><p>1st <ac:emoticon ac:name="tick" /></p><p>2nd <ac:emoticon ac:name="tick" /></p><p>3rd X</p></td></tr><tr><td colspan="1">Sourcetree</td><td colspan="1">11th Dec</td><td colspan="1"><p><span>Post: </span><ac:emoticon ac:name="cross" /></p><p>Vous voulez utiliser <a class="twitter-atreply pretty-link" href="https://twitter.com/sourcetree"></a><s><a class="twitter-atreply pretty-link" href="https://twitter.com/sourcetree"></a></s><s><a class="twitter-atreply pretty-link" href="https://twitter.com/sourcetree"></a></s><s><a class="twitter-atreply pretty-link" href="https://twitter.com/sourcetree"></a></s><s><a class="twitter-atreply pretty-link" href="https://twitter.com/sourcetree"></a></s><s><a class="twitter-atreply pretty-link" href="https://twitter.com/sourcetree"></a></s><s><a class="twitter-atreply pretty-link" href="https://twitter.com/sourcetree">@</a></s><strong>SourceTree</strong> en Fran&ccedil;ais? Venez nous aidez &agrave; traduire l'application <a class="twitter-timeline-link" href="http://t.co/9doDzyTP7K" rel="nofollow" title="http://blog.sourcetreeapp.com/"><span class="tco-ellipsis">&nbsp;</span><span class="invisible">http://</span><span class="js-display-url">blog.sourcetreeapp.com</span><span class="invisible">/</span><span class="tco-ellipsis"><span class="invisible">&nbsp;</span></span></a><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23git&amp;src=hash"></a><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23git&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23git&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23git&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23git&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23git&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23git&amp;src=hash">#</a></s><strong>git</strong> <a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23mercurial&amp;src=hash"></a><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23mercurial&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23mercurial&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23mercurial&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23mercurial&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23mercurial&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23mercurial&amp;src=hash">#</a></s><strong>mercurial</strong> <a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23hg&amp;src=hash"></a><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23hg&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23hg&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23hg&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23hg&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23hg&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23hg&amp;src=hash">#</a></s><strong>hg</strong></p></td><td colspan="1"><ac:emoticon ac:name="cross" /></td><td colspan="1"><ac:emoticon ac:name="tick" /></td></tr><tr><td colspan="1">LeWeb 13</td><td colspan="1">10th - 12th Dec</td><td colspan="1"><p><span>Post: </span><ac:emoticon ac:name="cross" /></p><p>Vous allez <a class="twitter-atreply pretty-link" href="https://twitter.com/leweb">@LeWeb</a>, n'oubliez pas de passer nous voir pour discuter de <a class="twitter-atreply pretty-link" href="https://twitter.com/HipChat">@HipChat</a> <a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23LeWeb&amp;src=hash">#LeWeb</a> <a class="twitter-timeline-link" href="http://t.co/ttBodeO49L">pic.twitter.com/ttBodeO49L</a></p><p>Besoin de faire un break <a class="twitter-atreply pretty-link" href="https://twitter.com/leweb">@LeWeb</a>, passez prendre une bi&egrave;re avec nous. <a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23Beer&amp;src=hash">#Beer</a> <a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23LeWeb&amp;src=hash">#LeWeb</a> <a class="twitter-atreply pretty-link" href="https://twitter.com/atlassian">@Atlassian</a> <a class="twitter-timeline-link" href="http://t.co/nndxLSMlwB">pic.twitter.com/nndxLSMlwB</a></p><p>Vous voulez en savoir plus sur les outils qui aides les entreprises &agrave; collaborer plus efficacement? RDV <a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23LeWeb&amp;src=hash">#LeWeb</a> <a class="twitter-atreply pretty-link" href="https://twitter.com/HipChat">@HipChat</a></p><p><span><span><br /></span></span></p></td><td colspan="1"><ac:emoticon ac:name="cross" /></td><td colspan="1"><p>1st <ac:emoticon ac:name="tick" /></p><p>2nd <ac:emoticon ac:name="tick" /></p><p>3rd <ac:emoticon ac:name="tick" /></p></td></tr><tr><td><p>Upgrade your development workflow</p><p><a href="http://blogs.atlassian.com/2013/10/git-workflow-development/">http://blogs.atlassian.com/2013/10/git-workflow-development/</a></p></td><td><span>Jan<br /></span></td><td><p>Post: <ac:link><ri:page ri:content-title="Workflow de d&eacute;veloppement Agile" /></ac:link></p><p><span>Twitter: &quot;Rassemblez vos outils pour mieux r&eacute;gner! Mettez &agrave; jour vos #workflows de d&eacute;veloppement et passez &agrave; la vitesse sup&eacute;rieur. (119) <span>+ LINK</span></span></p></td><td><ac:emoticon ac:name="tick" /></td><td><ac:structured-macro ac:name="status"><ac:parameter ac:name="colour">Yellow</ac:parameter><ac:parameter ac:name="title">to review</ac:parameter><ac:parameter ac:name="" /></ac:structured-macro></td></tr><tr><td><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/03/git-vs-mercurial-why-git/&amp;sa=D&amp;usg=ALhdy2-7Iy5PwYHmVjBAiytMo4udGmk-bg">blogs.atlassian.com/2012/03/git-vs-mercurial-why-git/</a></td><td>x</td><td><p>Post: <ac:link><ri:page ri:content-title="Git vs Mercurial: Pourquoi Git?" ri:space-key="~jbouchon" /></ac:link></p><p>Twitter: <span><span>Vous h&eacute;sitez &agrave; d&eacute;centraliser votre syst&egrave;me contr&ocirc;le de version #DVCS? Que choisir, #Git ou #Mercurial? (101) + LINK</span></span></p></td><td><ac:structured-macro ac:name="status"><ac:parameter ac:name="colour">Yellow</ac:parameter><ac:parameter ac:name="title">to review</ac:parameter><ac:parameter ac:name="" /></ac:structured-macro></td><td><ac:structured-macro ac:name="status"><ac:parameter ac:name="colour">Yellow</ac:parameter><ac:parameter ac:name="title">to review</ac:parameter><ac:parameter ac:name="" /></ac:structured-macro></td></tr><tr><td colspan="1"><p><span class="js-display-url"><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/09/collaboration-best-practices-3-reasons-email-hurts-productivity/&amp;sa=D&amp;usg=ALhdy29EIDkNNjALhkUzMHsNDLlRzVpalA">blogs.atlassian.com/2012/09/collaboration-best-practices-3-reasons-email-hurts-productivity/</a></span></p><p><a class="twitter-timeline-link" href="http://t.co/kTaoaKJd1g" rel="nofollow" title="http://atlss.in/TimeWaster"><span class="js-display-url">atlss.in/TimeWaster</span><span class="invisible">&nbsp;</span><span class="tco-ellipsis"><span class="invisible">&nbsp;</span></span></a></p></td><td colspan="1">x</td><td colspan="1"><p>Post: <ac:link><ri:page ri:content-title="Collaboration Best Practices - 3 Reasons email hurts productivity" /></ac:link></p><p>Twitter: Vous n'imaginez pas le temps que vous perdez au travail [INFOGRAPHIC] <a class="twitter-timeline-link" href="http://t.co/kTaoaKJd1g" rel="nofollow" title="http://atlss.in/TimeWaster"><span class="tco-ellipsis">&nbsp;</span><span class="invisible">http://</span><span class="js-display-url">atlss.in/TimeWaster</span><span class="invisible">&nbsp;</span><span class="tco-ellipsis"><span class="invisible">&nbsp;</span></span></a> <a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23time_wasting&amp;src=hash"></a><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23time_wasting&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23time_wasting&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23time_wasting&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23time_wasting&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23time_wasting&amp;src=hash"></a></s><s><a class="twitter-hashtag pretty-link js-nav" href="https://twitter.com/search?q=%23time_wasting&amp;src=hash">#</a></s><strong>time_wasting</strong></p></td><td colspan="1"><ac:emoticon ac:name="tick" /></td><td colspan="1"><ac:emoticon ac:name="tick" /></td></tr><tr><td colspan="1">Webinar Follow up</td><td colspan="1">x</td><td colspan="1"><p>Post: <ac:link><ri:page ri:content-title="Workflows Git webinar: Questions / R&eacute;ponces" ri:space-key="~jbouchon" /></ac:link></p><p>Twitter:</p></td><td colspan="1"><ac:emoticon ac:name="tick" /></td><td colspan="1"><ac:emoticon ac:name="tick" /></td></tr><tr><td><p><a href="http://blogs.atlassian.com/2012/09/5-steps-to-build-a-killer-dashboard/">blogs.atlassian.com/2012/09/5-steps-to-build-a-killer-dashboard/</a></p><p><span>New article available: </span><a href="http://blogs.atlassian.com/2013/11/7-steps-to-a-beautiful-and-useful-agile-dashboard/">7 steps to a beautiful and useful agile dashboard</a></p></td><td><span>x</span></td><td><p><ac:link><ri:page ri:content-title="5 Steps to Build a Killer Dashboard: the information you need, when you need it" ri:space-key="~jbouchon" /></ac:link></p><p>Twitter: &quot;5 &eacute;tapes pour cr&eacute;ez votre custom Dashboard &quot;</p><p>&nbsp;</p></td><td colspan="1"><p><ac:structured-macro ac:name="status"><ac:parameter ac:name="title">Draft</ac:parameter></ac:structured-macro></p><p><ac:structured-macro ac:name="status"><ac:parameter ac:name="title">Depreciated?</ac:parameter><ac:parameter ac:name="" /></ac:structured-macro></p></td><td colspan="1">&nbsp;</td></tr><tr><td><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2013/01/svn-to-git-how-atlassian-made-the-switch-without-sacrificing-active-development/&amp;sa=D&amp;usg=ALhdy2_2yq3xp5vfyy4R4fqlEmgwZEAzVw">blogs.atlassian.com/2013/01/svn-to-git-how-atlassian-made-the-switch-without-sacrificing-active-development/</a></td><td>x</td><td>&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/05/atlassian-stash-enterprise-git-repository-management/&amp;sa=D&amp;usg=ALhdy2_tZlDWHoLMJnEBf-VV_PVfTHyewA">blogs.atlassian.com/2012/05/atlassian-stash-enterprise-git-repository-management/</a></td><td>x</td><td><p><ac:link><ri:page ri:content-title="Meet Atlassian Stash: Git Repository Management for Enterprise Teams" ri:space-key="~jbouchon" /></ac:link></p><p>(note: backdate to same year and month)</p></td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2013/01/atlassian-svn-to-git-migration-human-side/&amp;sa=D&amp;usg=ALhdy29BBkwEEfCglqPDlb5FZRliCbCTIA">blogs.atlassian.com/2013/01/atlassian-svn-to-git-migration-human-side/</a></td><td>x</td><td>Check for updates first with Stash team - Ly Nguyen</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/02/version-control-centralized-dvcs/&amp;sa=D&amp;usg=ALhdy2-kbWM4G4y_C1q9g7Hi-UrXqqwkrg">blogs.atlassian.com/2012/02/version-control-centralized-dvcs/</a></td><td>x</td><td>&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/01/moving-confluence-from-subversion-to-git/&amp;sa=D&amp;usg=ALhdy2-cI9LW74vCJGaRxbqzELQYap074Q">blogs.atlassian.com/2012/01/moving-confluence-from-subversion-to-git/</a></td><td>x</td><td>&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td><a class="in-cell-link" href="http://www.google.com/url?q=http://blogs.atlassian.com/2012/10/stash-13-enterprise-git-pull-request/&amp;sa=D&amp;usg=ALhdy29LYw9yewq14AyphmTsrMiWX6eADw">blogs.atlassian.com/2012/10/stash-13-enterprise-git-pull-request/</a></td><td>x</td><td>Check for updates first with Stash team - Ly Nguyen</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td colspan="1"><strong>2014</strong></td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr><tr><td colspan="1">DevoxxFR 2014</td><td colspan="1">16 - 18 Apr 2014</td><td colspan="1"><p>Twitter: &quot;Amis d&eacute;veloppeurs, venez nous voir &agrave; @DevoxxFR du 16 au 18 Avril. Au programme: Tech, Swag et Bi&egrave;res&hellip;&quot;</p><p>Twitter Follow up: Nous avons pass&eacute; un moment inoubliable @DevoxxFR. On remet ca l'ann&eacute;e prochaine?</p></td><td colspan="1">&nbsp;</td><td colspan="1">&nbsp;</td></tr></tbody></table>




						</div>






					</section>
				</div>
			</div>






			<div id="sidebar" style="padding-left: 15px;
			box-sizing: border-box;
			">

			<div class="subscribe">
				<h2>Subscribe</h2>
			</div>

			<p>Subscribe to Dev Tools by email</p>

			<div id="email-subscription">
				<form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=AtlassianDevToolsBlog', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
					<input type="text" name="email" placeholder="Your Email" class="placeholder">
					<input type="hidden" value="AtlassianDevToolsBlog" name="uri">
					<input type="hidden" name="loc" value="en_US">
					<p class="form-submit">
						<input type="submit" value="Subscribe" class="button">
					</p>
				</form>
			</div>

			<p>Subscribe by RSS</p>

			<p id="subscribeRSS">

				<a href="http://feeds.feedburner.com/AtlassianDevToolsBlog">Dev Tools RSS feed</a>
			</p>

			<div class="widget" id="sidebarnav">
			</div><!--/sidebarnav-->
			<div class="widget" id="postslist">
				<h3>Popular Posts</h3>
				<ul>
					<li><a href="http://blogs.atlassian.com/2014/02/git-whole-picture-jira/">Git the whole picture in JIRA</a></li><li><a href="http://blogs.atlassian.com/2014/02/stash-2-11-faster-feedback-better-diffs-commenting/">Stash 2.11: Faster feedback with better diffs and commenting</a></li><li><a href="http://blogs.atlassian.com/2014/03/webinar-git-essentials-see-live/">Webinar: Git Essentials –&nbsp;see it live!</a></li><li><a href="http://blogs.atlassian.com/2014/04/practical-continuous-deployment/">Practical continuous deployment</a></li><li><a href="http://blogs.atlassian.com/2014/04/bamboo-5-5-connects-repos-ease/">Bamboo 5.5: instant access to Stash repos</a></li>    </ul>
				</div><!--/postslist-->
				<div class="widget" id="tagslist">
					<h3>Popular Tags</h3>
					<ul>
						<li><a href="http://blogs.atlassian.com/tag/plugins/"><strong>plugins</strong> <span class="aui-badge">223</span></a><span class="percentage" style="width:100%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/agile/"><strong>Agile</strong> <span class="aui-badge">130</span></a><span class="percentage" style="width:58.2959641256%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/wikis/"><strong>wikis</strong> <span class="aui-badge">127</span></a><span class="percentage" style="width:56.9506726457%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/summit/"><strong>summit</strong> <span class="aui-badge">122</span></a><span class="percentage" style="width:54.7085201794%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/plugin/"><strong>plugin</strong> <span class="aui-badge">110</span></a><span class="percentage" style="width:49.3273542601%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/press-releases/"><strong>press releases</strong> <span class="aui-badge">109</span></a><span class="percentage" style="width:48.8789237668%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/git/"><strong>git</strong> <span class="aui-badge">100</span></a><span class="percentage" style="width:44.8430493274%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/atlassiantv/"><strong>atlassiantv</strong> <span class="aui-badge">94</span></a><span class="percentage" style="width:42.1524663677%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/add-on/"><strong>add-on</strong> <span class="aui-badge">91</span></a><span class="percentage" style="width:40.8071748879%;"></span></li>
						<li><a href="http://blogs.atlassian.com/tag/development-tools/"><strong>development tools</strong> <span class="aui-badge">88</span></a><span class="percentage" style="width:39.4618834081%;"></span></li>    
					</ul>
				</div><!--/tagslist-->
				<div id="local-blogs-list">
					<h3>Local Blogs</h3>
					<ul>
						<!--<li><a href="http://blogs.atlassian.es">Spain Blog</a></li>-->
						<li><a href="http://blogs.atlassian.fr">France Blog</a></li>
						<li><a href="http://blogs.atlassian.de">Germany Blog</a></li>
						<li><a href="http://blogs.atlassian.jp">Japan Blog</a></li>
						<li><a href="http://china.blogs.atlassian.com">China Blog</a></li>
					</ul>
				</div> 

				<ul>
					<li id="advanced_text-10" class="widget advanced_text"><a href="https://ace.atlassian.com/del/ck.php?oaparams=2__bannerid=325__zoneid=18__cb=788991d89a__oadest=https%3A%2F%2Fwww.hipchat.com%3Fatl_source%3Dbac%26atl_medium%3Dace%26atl_campaign%3D210_blue" target="_top"><img src="https://ace.atlassian.com/img/52ccb8f8196c6a72a31c36391e5c0e05.png" width="198" height="99" alt="" title="" border="0"></a><div id="beacon_788991d89a" style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ace.atlassian.com/del/lg.php?bannerid=325&amp;campaignid=113&amp;zoneid=18&amp;loc=http%3A%2F%2Fblogs.atlassian.com%2F2014%2F05%2Ftop-10-tips-distributed-development-teams%2F&amp;referer=http%3A%2F%2Fblogs.atlassian.com%2Fblog-cat%2Fdeveloper%2F&amp;cb=788991d89a" width="0" height="0" alt="" style="width: 0px; height: 0px;"></div>
					</li>

					<li id="advanced_text-11" class="widget advanced_text">
						<a href="https://ace.atlassian.com/del/ck.php?oaparams=2__bannerid=311__zoneid=19__cb=1ef691fc52__oadest=https%3A%2F%2Fwww.atlassian.com%2Fgit%3Fatl_medium%3DACE%26atl_source%3DBAC%26atl_campaign%3DACE-206" target="_top"><img src="https://ace.atlassian.com/img/d7ab4a6efb5a9ac3c4bb680c38b5f695.png" width="198" height="99" alt="" title="" border="0"></a>
						<div id="beacon_1ef691fc52" style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ace.atlassian.com/del/lg.php?bannerid=311&amp;campaignid=106&amp;zoneid=19&amp;loc=http%3A%2F%2Fblogs.atlassian.com%2F2014%2F05%2Ftop-10-tips-distributed-development-teams%2F&amp;referer=http%3A%2F%2Fblogs.atlassian.com%2Fblog-cat%2Fdeveloper%2F&amp;cb=1ef691fc52" width="0" height="0" alt="" style="width: 0px; height: 0px;"></div>

					</li>

				</ul>


				<div id="twitterdata">
					<div id="twitterusername">
						<a href="http://twitter.com/AtlDevTools">@AtlDevTools</a>
					</div><!--/twitterusername-->
					<div> <span class="twitterwidget twitterwidget-title"> </span> <ul><li class="wpTwitterWidgetEmpty">No Tweets Available</li></ul></div>  </div><!--/twitterdata-->
					<div class="widget" id="twitter" style="display: none;">
						<p class="t-status"><span class="endquote"></span></p><div class="t-meta"><p>
						<a href="http://twitter.com/AtlDevTools">@AtlDevTools</a>
						<small></small></p></div></div><!--/twitter-->                                        


					</div>




					<div style="clear:both;height:100px;">
					</div>


				</div>




				<div style="display:block;clear:both;">


					<footer id="footer" role="contentinfo">
						<section class="footer-body">
							<ul>
								<li>Copyright © 2013 <a href="http://www.atlassian.com" target="_blank">Atlassian</a>. <a href="https://developer.atlassian.com/display/AUI/License">Apache License v2.0</a></li>
								<li><a href="https://developer.atlassian.com/display/AUI">Documentation</a></li>
								<li class="ng-binding">AUI 5.5.2</li>
							</ul>
						</section>
					</footer>

				</div>














			</body>





