﻿<!doctype html>
<html>
<head>
  <title>Tablet</title>
  <!-- <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"> -->

  <meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="shortcut icon" href="/16.png">
  <link rel="apple-touch-icon" href="/48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/114.png">

  <script src="./components/platform/platform.js"></script>
  <link href="./components/core-icons/iconsets/av-icons.html" rel="import">
  <link href="./components/paper-fab/paper-fab.html" rel="import">

  <link href="./components/core-animated-pages/core-animated-pages.html" rel="import">
  <link href="./components/core-animated-pages/transitions/slide-up.html" rel="import">
  <link href="./components/core-animated-pages/transitions/list-cascade.html" rel="import">
  <link href="./components/core-icons/core-icons.html" rel="import">

  <link href="./components/core-icons/core-icons.html" rel="import">
  <link href="./components/core-icons/iconsets/icons.html" rel="import">


  <link rel="import" href="./elements/post-list.html">
  <link rel="import" href="./elements/blog-element.html">
  <link rel="import" href="./elements/post-element.html">
  <link rel="import" href="./elements/my-main.html">

  <style>
  body {
    font-family: 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    background: #f1f1f1;
  }

  quiz-demo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  </style>
</head>
<body>

  <polymer-element name="quiz-demo">
  <template>

    <style>
    core-animated-pages {
      height: 100%;
    }

    section {
      overflow: hidden;
    }

    .fab {
      position: absolute;
      fill: #fff;
    }

    .fab-0 {
      bottom: 0px;
      right: 0px;
    }

    .fab-2 {
      bottom: 50px;
      right: 24px;
    }

    .fab-1 {
      /*top: 210px;*/
      right: 24px;
    }

    paper-fab {
      background-color: #ff4081;
    }

    .top {
      background-color: #ffff8d;
    }

    .top-image {
      background: url(quiz1-intro.png);
      height: 287px;
      width: 202px;
    }

    .bottom {
      box-sizing: border-box;
      position: relative;
      height: 80px;
      background-color: #27BAFF;
      padding: 24px;
      color: #fff;
      font-size: 32px;
    }

    .tall-toolbar {
      box-sizing: border-box;
      height: 240px;
      position: relative;
      color: #fff;
      padding: 48px;
      font-size: 48px;
    }

    .tall-toolbar.categories {
      background-color: #00bbd3;
      margin-bottom: 2px;
    }

    .tall-toolbar.questions {
      background-color: #27BAFF;
    }

    .middle {
      background-color: #fafafa;
      color: #3f3f3f;
      padding: 24px 48px;
      font-size: 24px;
      line-height: 1.5;
    }

    .footer {
      height: 80px;
    }

    .avatar {
      height: 80px;
      width: 80px;
      background-color: #ff80ab;
    }

    .footer-right, .score {
      border-top: 1px solid #ccc;
      background-color: #fff;
      padding: 30px;
    }

    .tile {
      box-sizing: border-box;
      float: left;
      height: 200px;
      width: 49%;
      margin: 3px;
    }

    .tile-bottom {
      padding: 8px;
      color: #fff;
    }
    </style>

    <style type="text/css">
    .tall-toolbar {
      height: 400px;
      box-shadow: inset 0 -200px 60px rgba(0,0,0,0.4);
    }
    .fab-1{
      top:370px;
    }
    .headerTitle{
      position: absolute;
      bottom: 20px;
    }
    .footerArticle{
      position: fixed;
      bottom:0;
      width:100%;
    }
    paper-button {
      margin: 1em;
      width: 10em;
    }

    paper-button.colored {
      color: #4285f4;
      fill: #4285f4;
    }

    paper-button[raisedButton].colored {
      background: #4285f4;
      color: #fff;
    }

    paper-button[raisedButton].colored #ripple,
    paper-button[raisedButton].colored::shadow #ripple {
      color: #2a56c6;
    }

    paper-button[raisedButton].colored #focusBg,
    paper-button[raisedButton].colored::shadow #focusBg {
      background: #3367d6;
    }
    </style>

    <article-service id="serviceArticle" article="{{article}}"></article-service>
    <post-service id="service" posts="{{posts}}"></post-service>
    <core-animated-pages selected="{{page}}" transitions="hero-transition slide-up slide-down cross-fade list-cascade" on-core-animated-pages-transition-end="{{complete}}">


    <section layout vertical style="overflow-y: scroll!important;">
      <div class="tall-toolbar categories" slide-down>
        <span>Your name here</span>
      </div>

      <div class="tiles-container">
        <template repeat="{{posts as item}}">
          <div class="tile" style="background-color:#ccc;background-image:url('{{item.image}}');background-size:cover;" hero-id="{{item._id}}-ID" hero?="{{selectedAlbum === item }}"  layout vertical >
            <div class="tile-top" flex on-tap="{{transition}}" ></div>
            <div class="tile-bottom"  hero-id="{{item._id}}-footer" hero?="{{selectedAlbum === item }}" style="background-color:#aaa;position:relative;">
              <span  on-tap="{{transition}}">{{item.title}}</span>

              <div class="fab fab-0" hero-id="{{item._id}}-fab" hero>
                <paper-fab icon="language" on-tap="{{openMap}}" hero></paper-fab>
                <paper-fab icon="chevron-right" on-tap="{{transition}}" hero></paper-fab>
              </div>

            </div>
          </div>
        </template>        
      </div>
    </section>



    <section layout vertical style="overflow-y:scroll;">
      <div class="tall-toolbar questions" hero-id="{{seletedArticle._id}}-footer" hero style="background-image:url('{{seletedArticle.image}}');background-size:cover;background-position: center center;">
        <span class="headerTitle" cross-fade>{{seletedArticle.title}}</span>
      </div>

      <div class="fab fab-1" hero-id="{{seletedArticle._id}}-fab" hero>
        <paper-fab icon="language" on-tap="{{transition}}" hero></paper-fab>
        <paper-fab icon="account-circle" on-tap="{{speakTheText}}" hero></paper-fab>
        <paper-fab icon="close" on-tap="{{closePage}}" hero></paper-fab>
      </div>

      <div flex class="middle" slide-up list-cascade>
        <p class="card-album-artist">{{seletedArticle.description}}</p>
        <p class="card-album-artist">Info: , {{selectedAlbum.categories}}, {{seletedArticle.city}}, {{selectedAlbum.region}}, {{seletedArticle.country}}, </p>
        <p class="card-album-artist">Source: {{seletedArticle.source}}</p>
        <p class="card-album-artist">Date: {{seletedArticle.published_date}}</p>
        <p class="card-album-artist">Shared: {{seletedArticle.nb_shared}}</p>
        <p>
          <a href="{{selectedAlbum.permalink}}" target="_blank" class="paper-button colored" label="Visit Article">Visit Article: {{selectedAlbum.source}}</a>
        </p>
        <p>
          <template repeat="{{selectedAlbum.siblings as sibling}}">
            {{sibling.title}} {{sibling.source}}<br>
          </template>
        </p>

      </div>

      <div class="footer footerArticle" layout horizontal slide-up>
        <div class="avatar" style="background-image:url('{{seletedArticle.image}}');background-size:cover;background-position: center center;"></div>
        <div class="footer-right" style="padding:7px 30px;" flex>
          <span style="display:block;font-size:1.5em;">{{seletedArticle.source}}</span>
          Date: {{seletedArticle.published_date}}<br>
          Shared: {{seletedArticle.nb_shared}}<br>
        </div>
        <div class="score" style="padding:6px;">
          <span icon="arrow-back" on-tap="{{transition}}" hero></span>  
          <paper-button href="{{seletedArticle.parmalink}}" raisedButton class="colored" label="{{seletedArticle.source}}"></paper-button>

        </div>
      </div>

    </section>

    <section layout vertical>
      <div class="top" hero-id="{{selectedArticle._id}}-ID" hero flex layout horizontal center center-justified><div class="box ratio16_9" style="background-position:center center;height:100%;width:100%;display:block;position:absolute;top:0;left:0;;background-size:cover;background-image:url('http://maps.googleapis.com/maps/api/staticmap?center=Alger&zoom=1&size=1024x800&maptype=hybrid{{mapURL}}');">
      </div>
    </div>
    <div class="bottom" hero-id="{{seletedArticle._id}}-footer" hero cross-fade>
      <span cross-fade>{{seletedArticle.title}}</span>
    </div>
    <div class="fab fab-2" hero-id="{{seletedArticle._id}}-fab" hero>
      <paper-fab icon="arrow-back" on-tap="{{transition}}" hero></paper-fab>
      <paper-fab icon="close" on-tap="{{closePage}}" hero></paper-fab>
    </div>
  </section>
</core-animated-pages>

</template>
<script>

Polymer('quiz-demo', {

  page: 0,
  speakTheText: function(e){
    var msg = new SpeechSynthesisUtterance(e.target.templateInstance.model.seletedArticle.title);
    msg.lang = e.target.templateInstance.model.seletedArticle.lang;
    window.speechSynthesis.speak(msg);

    var msg = new SpeechSynthesisUtterance(e.target.templateInstance.model.seletedArticle.description);
    msg.lang = e.target.templateInstance.model.seletedArticle.lang;
    window.speechSynthesis.speak(msg);
  },
  closePage: function(e) {
    this.page = 0;
  },
  openMap: function(e) {
    this.page = 2;
    this.mapURL = createMapPoints(e.target.templateInstance.model.item.positions);
  },
  transition: function(e) {
    if (this.page === 2) {
      this.page = 1;
      this.mapURL = createMapPoints(e.target.templateInstance.model.item.positions);
    } else {
      if (this.page === 0  && e.target.templateInstance.model.item) {
        this.selectedAlbum = e.target.templateInstance.model.article;
        this.seletedArticle = e.target.templateInstance.model.item;
        this.mapURL = createMapPoints(e.target.templateInstance.model.item.positions);
      }
      this.page += 1;
    }
  }
});

function createMapPoints(mapItems){
  var tempURL = "++";
  mapItems.forEach(function(location){
    tempURL += "&markers=color:blue%7Clabel:A%7C"+location.lat+","+location.lon;
  });
  return tempURL;
}
</script>
</polymer-element>

<quiz-demo></quiz-demo>
</body>
</html>